[2020-01-24 07:45] iooops opened #229 "closeWithMask not working"
I tried
`<Tour
            steps={steps}
            isOpen={this.state.isTourOpen}
            onRequestClose={this.closeTour}
            closeWithMask="false" />`

but when I click the mask, it still closes the tour.

[2020-01-24 07:53] iooops commented on #229
Sorry, my mistake.

It should be
`<Tour steps={steps} isOpen={this.state.isTourOpen} onRequestClose={this.closeTour} closeWithMask={false} />`

[2020-01-24 07:53] #229 closed

[2020-01-24 08:17] iooops opened #230 "How to make the selected component area bigger?"
Could I add more space to its bottom?

[2020-01-24 13:00] elrumordelaluz commented on #230
Hi @iooops, thanks for open the _Issue_.

You could use [maskSpace](https://github.com/elrumordelaluz/reactour#maskspace) for that purpose but increases the space proportionally.

[2020-01-24 13:23] elrumordelaluz commented on #227
Hope to have a peace of time to focus on `async actions` to release a `v2`

[2020-01-25 05:08] iooops commented on #230
I want to do it for a single component.

[2020-01-25 06:13] iooops commented on #53
I'm having the same issue here.

[2020-01-31 18:55] bellsml commented on #185
@elrumordelaluz

has there been progress in implementing the flag to disable focuslock?

[2020-02-07 09:28] HarithaKR commented on #213
hi. @elrumordelaluz, the issue I faced was resolved. It was some error in implementation. Thank you

[2020-02-07 09:28] #213 closed

[2020-02-07 09:33] HarithaKR opened #232 "how to define an action when step out"
Hi, In tour implementation, I have a requirement like below
  When I go to a certain step, before showing the guide, i define some style. Eg. That element is hidden (opacity: 0) by default. When I go to the step, I have to show that element (opacity: 1) and then show the guide tour. This one I did by defining action property.
  But then If move away from this step (next or prev), I want to do an a

[2020-02-10 08:09] elrumordelaluz commented on #232
Hi @HarithaKR, thanks for open the _Issue_.

This is the idea for the next `major` version, to have an `actionBefore` and `actionAfter`, right now you have to handle this with the `action`'s from other `steps` (not the ideal situation).

[2020-02-10 19:23] ashwin-nutanix opened #233 "Can react tour work if we have modals that open on click."
Use case for the tour:

1.  Have a landing page which has a button B1.
2. On clicking the button B1 a modal appears on top of the landing page. This modal has one more button B2
3. On clicking B2 another smaller model appears on top of the big modal.

Case to be thought of:

-   If one of the steps on the tour is to click B1,  then we must go to the next step if we click on B1. Also we should prog

[2020-02-17 10:36] bogdancss commented on #195
has this been released? still getting the warning

[2020-02-17 16:57] Param-Harrison commented on #163
This should be the default behaviour

[2020-02-18 18:41] eduqg commented on #195
@elrumordelaluz Some news about this issue?

[2020-02-21 11:21] georgiosgiatsidis commented on #201
Is anyone working on this?

[2020-02-22 02:44] wonjun27 commented on #195
I also noticed this isn't fixed in v1.16.0 release.

[2020-02-25 12:47] elrumordelaluz commented on #195
`reactour@1.16.1` should be landed without those _warnings_ using `UNSAFE_*` until the next major release.

[2020-02-26 11:28] ketewan commented on #230
Hello! Thank you for the library, it's really great!

I also need this feature: like having an ability to specify different padding/margin for each step.

Moreover, I think it would be great to separate distances from target to mask border and from mask border to helper, which are now both equal to maskSpace, if I am not mistaken. I think distance from mask border to helper could be set with some

[2020-02-26 14:35] elrumordelaluz commented on #230
Hi @ketewan, super welcome PR's and pretty appreciate your inputs. Thanks!

[2020-02-28 07:52] halim-paracki opened #235 "Documentation error"
Hi, the 'update' parameter which is documented here in the Readme.md does not have any corresponding code in the source code. I've been trying to get it to work in a similar way like some other parameters, and just after having made the effort of cloning the Reactour repository (instead of just installing) and having a closer look at the source code, I realized the update prop never really gets us

[2020-02-28 10:26] dartess opened #236 "onBeforeClose does not work on unmunt"
demo: https://codesandbox.io/s/reactour-demo-template-live-l92og

after closing, the body is still locked

[2020-02-28 11:12] ketewan commented on #235
@halim-paracki, hello! There is a disclaimer in README, that the master branch is currently in development, and I guess there is really no update parameter in new version. The documentation corresponds to the currently published version, which is about v1 branch, where update parameter exists. I personally used it, and it worked as expected. If you have problems with currently published version, c

[2020-02-28 14:14] elrumordelaluz commented on #235
As @ketewan, the `update` prop is working in the already published versions, in case you want to deep dive get the `v1` branch.

[2020-02-28 14:15] elrumordelaluz commented on #235
Closing for now.

However as @ketewan also mentioned

Please open a new _Issue_ to focus on your specific _use-case_

[2020-02-28 14:15] #235 closed

[2020-02-28 14:24] elrumordelaluz commented on #236
Hi @dartess, thanks for open the _Issue_.

Since you are mounting the _Tour_ Component conditionally, as soon as `isTourOpen` is `false`, the _Tour_ is removed without lifecycles.

Try using instead of

[code]

[2020-02-28 14:26] elrumordelaluz commented on #236
Closing. Feel free to re-open or create a new _Issue_ in any case.

[2020-02-28 14:26] #236 closed

[2020-02-28 14:50] dartess commented on #236
This does not fit in my case. My page shows either real data, or demo data and a guide, and this is controlled from the outside. If you think about it, you can find other cases where this can cause problems.

Don't you agree that the current behavior is a bit unexpected? From your answer I did not find out if there is a real reason for this behavior.

[2020-02-28 17:09] elrumordelaluz commented on #236
I mean, since you are rendering the _Tour_ conditionally by `isTourOpen` or another prop in your _App_, couldn't you pass that value into the `isOpen` prop of the _Tour_, instead of pass a fixed `true`?

Since you are passing `true` to `isOpen` and simply unmounting the Component, you aren't [closing](https://github.com/elrumordelaluz/reactour/blob/v1/src/Tour.js#L232-L241) the _Tour_ using the ca

[2020-02-28 17:27] dartess commented on #236
Yes, with a little thought, I completely refactored all the supporting code.

However, I still think this behavior is incorrect. I can’t say for sure where else it does not live up to expectations. The component after unmounting should not leave traces of its work. If for this you need to make some effort, this should be written in big red letters.

I can give another example where this will play

[2020-02-28 17:41] elrumordelaluz commented on #236
Thanks for the example @dartess. In the early versions of `reactour`, the `body-scroll-lock` behaviour was handled by the internals of the _Tour_, for situations like your example and others, now the scroll-lock is outside letting the developer handle in the better way for each _App_ and use cases. The way you are approaching, like in the _Example App_ is a possible way.

Regarding the specific ex

[2020-03-05 19:24] dcdourado commented on #53
Same for me

[2020-03-06 16:09] poromaa commented on #86
"reactour": "^1.16.1",
does not work in this version

As mateuswolkmer say, if you reroute to a screen that has a tour with less steps than the tour you came from, it will crash. I does not seem to exist any workaround as far as I can see. Even if I say, force the update to "Math.random()" it still seem to keep the current step at the new screen.

[2020-03-08 23:12] pash90 commented on #84
Is this going to updated in docs?

[2020-03-09 08:04] elrumordelaluz commented on #84
@pash90 your absolutely right. I've try to update in the next days.

[2020-03-10 10:31] Nikki1993 opened #237 "Generated bundle from npm has wrong lifecycle method"
Had an issue where we would be bombarded with
`Cannot read property getBoundingClientRect of null`
from reactour. So I checked the pre-generated esm file that `yarn install` installed and noticed that the lifecycle method was wrong.

[code]

componentWillUnmount is **not** an UNSAFE method [React Docs](https://reactjs.org/docs/react-component.html#componentwillunmount) so what happens is when pare

[2020-03-10 10:50] Nikki1993 commented on #237
This is the commit that causes this https://github.com/elrumordelaluz/reactour/commit/0a05b9304d77041f30d6665f29ed27fd18d28ccb componentWillReceiveProps should be UNSAFE, while componentWillUnmount should not be.

[2020-03-10 10:59] Nikki1993 commented on #237
@elrumordelaluz here is a PR that fixes it https://github.com/elrumordelaluz/reactour/pull/238

[2020-03-11 04:30] braydonburn opened #239 "getBoundingClientRect error if element is deleted"
Hello,
If the tour element is deleted while it's in the process of opening an error will occur, `Cannot read property 'getBoundingClientRect' of null`
</br>

**Codepen demonstrating the issue:**
Click the `Try it` button to trigger the error
https://codesandbox.io/s/reactour-demo-template-live-u934w

[2020-03-11 08:22] #237 closed

[2020-03-11 08:35] Nikki1993 commented on #239
Possibly related to the missing componentWillUnmount method wrongfully tagged as UNSAFE. [This PR](https://github.com/elrumordelaluz/reactour/pull/238 ) was just merged to v1, if you don't want to wait for new release you can git clone latest v1 branch and see if it crashes on getBoundingClientRec

[2020-03-11 08:58] elrumordelaluz commented on #239
`reactour@1.16.2` published but seems persisting the issue updating the version in your sandbox. Need a little more investigation.

[2020-03-11 08:58] elrumordelaluz commented on #237
`reactour@1.16.2` published

Thanks again @Nikki1993

[2020-03-11 09:23] Nikki1993 commented on #239
@elrumordelaluz are you sure? I just tried the sandboxing link, bumped the version and reloaded the internal browser window and no crash when clicking "Try it"

[2020-03-11 09:25] elrumordelaluz commented on #239
cool, so my bad bumping version

[2020-03-11 22:53] braydonburn commented on #239
Can you please double check this? I've followed your steps and the error still persists on my end

[2020-03-11 23:37] bennnjamin commented on #239
I am having this issue in Microsoft Edge 18.18363 and IE 11. Edge 79+ is working. For now I am disabling the tour if the user is running these browsers as having the website crash or forcing them to download a compatible browser is not a great UX.

[2020-03-12 08:58] Nikki1993 commented on #239
@braydonburn just did it again, didn't see any error popping up on Chrome 80 but for some reason I can see the error when I go incognito mode. This is weird as I could reproduce the error 100% of the time before in normal browser window. You are correct, the issue is still there.

[2020-03-12 11:16] Nikki1993 commented on #239
OK, I had a quick look and it seems that this error happens because Tour.js passes `this.helper` but when it's closed really fast it's still null or React resets it to null, not sure exactly.

We can add rudimentary null checks for this.helper but that's treating symptoms not the problem, however it seems like reactour is in the process of rewrite to hooks on master so perhaps that could be an ide

[2020-03-12 11:23] Nikki1993 commented on #239
Checked the componentDidMount and this.helper is set to
[code]

[2020-03-12 12:20] Nikki1993 commented on #239
It seems like when component dismounts, it calls showStep function and that's when it crashes since this.helper at that point is null. This happens because UNSAFE_componentWillReceiveProps triggers before the componentWillUnmount but the refs have already been cleaned up.

[2020-03-12 12:57] elrumordelaluz commented on #239
Absolutely right, in fact is yet working with _hooks_ in the `master` branch. It isn't yet published because is still unsolved some _issues_ regarding `actions` in each `step`.

I am thinking in publishing a `beta` to let you try the sandbox.

[2020-03-12 12:59] Nikki1993 commented on #239
I went ahead and submitted the PR https://github.com/elrumordelaluz/reactour/pull/240 but again this is not ideal as all it's doing is checking if refs are present before executing showStep function. I tested and it seems to work at least for the example case above the error is gone
and I figured it's fine to do a "hacky" fix as rewrite to hooks is incoming.

[2020-03-12 14:05] elrumordelaluz commented on #239
published as 📦 `reactour@1.16.3`. Let me know in any case.

[2020-03-12 22:48] #239 closed

[2020-03-17 09:16] ketewan commented on #230
@elrumordelaluz, what do you think, could there be added some extra logic on enabling/disabling padding interaction? So that only target without mask space or padding is active? I need it in my case (and have done by simply disabling the padding in all cases), but I'm not sure whether and how could it be done in common case. Like adding extra prop to control it? (disableSpaceInteraction?)

[2020-03-17 20:45] ketewan opened #244 "Helper alignment"
Hello, and thank you for your library again!

I see in the code, that the guide is firstly aligned along left/top side, and if not possible -- along right/bottom side of a target. I need it to be placed centered relatively to target. Could you consider adding a prop for preferable alignment, or, maybe, doing "center" the first option? I could prepare a PR, if this change is acceptable.

[2020-03-18 05:51] priyankatakkekar commented on #201
Is this feature available in version 1.16.1?

[2020-03-18 12:51] ketewan opened #245 "Search in iframe"
Hello again! Another small feature request from me.

It would be great to have an ability to search and then highlight selectors in iframe (assuming it has already loaded and there is no need to wait for it).

Is there a way to do so in the current library implementation? I couldn't come up with a solution without changing a library, cause document.querySelector will not recursively search nodes i

[2020-03-24 04:17] michelson opened #246 "switchable styled components / emotion"
Hi, I would like to use this project but I need to use emotion-styled, specifically because I will have this as an third party application and in some situations when the host page is also using styled-components it will break the application. yup it will break, that's because styled-components does not accept multiple instances of it, and since my script will be external I could not apply techniq

[2020-03-24 13:03] elrumordelaluz commented on #246
Absolutely welcome!!

[2020-03-25 14:17] michelson commented on #246
#247

[2020-03-26 09:12] elrumordelaluz commented on #246
#156 #132 #100

[2020-03-26 14:20] conoroc opened #248 "nextStep is not override-able"
NextStep is not declared along with the other props from _ref.
This means it cannot be passed to the tour to customize.

[2020-03-27 03:00] andrewmclagan commented on #130
Also nor next js see https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr

[2020-03-27 05:57] halim-paracki commented on #98
I'm also waiting. Is this feature still considered for a merge?

[2020-04-04 13:20] dovy opened #249 "BUG: Invalid hook call"
I'm building a WordPress plugin, and it works flawlessly until I try to add reactour. Which is so sad because I love this component. Alas, I have been trying for 3 days now to find a resolution to this. When I load the tour inside my component I am getting the following error:

[code]

See the full errors here:
- https://cldup.com/vJdRfIaCoI.png
- https://cloudup.com/ctgcyFDr34R

The code I am run

[2020-04-04 16:37] dovy commented on #249
I was SO wrong. This was entirely my fault. Thank you.

[2020-04-04 16:37] #249 closed

[2020-04-06 13:24] PeterKottas opened #250 "Is this thing alive?"
Just curious if this is still maintained. I have noticed there's quite a few issues with no resolution and open PRs with no response from the maintainers. I do have a few things I am missing in this lib but most of it is already covered by various PRs and issues. What's the status pls? Cheers!

[2020-04-06 21:19] Alpa84 commented on #129
Hi there,
I have a reactour step that highlights a component with a controlled input that is re-rendered on every change.
In this case re-rendering is intentional because I'm generating a live hint on what the input should be.  The problem is that the focus on the input is lost when entering text
[Here](https://codesandbox.io/s/reactour-controlled-input-1u3tt) is a short sandbox that shows the iss

[2020-04-07 11:52] dovy commented on #250
Yea, I am wondering the same thing. :(

[2020-04-07 12:20] elrumordelaluz commented on #129
Hi @Alpa84,
You are re-rendering the _Component_ where the _Tour_ is in, so with each `state` change, you are re-rendering an open _Tour_, and this is the reason why you are loosing `focus` on the `input`.

Try separating components like [in this fork](https://codesandbox.io/s/reactour-controlled-input-y2jck?fontsize=14&hidenavigation=1&theme=dark)

[2020-04-07 12:31] elrumordelaluz commented on #250
Yup, sorry to everyone who need some thing implemented and the _repo_ seems frozen. As soon as I can I'll reply/implement all the stuff.

[2020-04-07 13:13] dovy opened #251 "Action is too late"
So I perform an `action` to render a new model window. The problem is the "modal" is not in the dom, so the tour selector can't find it. @elrumordelaluz  Any ideas how I could resolve this?

[2020-04-07 13:42] greatdolphinls opened #252 "Not scrolling elements into view when I use reactour selector in list element"
Reactour is not auto-scrolling to elements.
I send reactour selector as props in list(map) component.
[code]
Any idea what could be preventing the scrolling?

[2020-04-07 14:07] PeterKottas commented on #250
@elrumordelaluz Thanks for the input mate! There's a lot of great work in this repo, would be a shame to see it go to waste. So let me see if I understand. Are you now working primarily on master while the v1 branch is kept in sync with the current released version? Correct? Do you have any deadline for the 2 to become one? In other words, do you have a clue when the stuff on the master will be re

[2020-04-07 15:53] Alpa84 commented on #129
It works! Thanks much. Awesome work

[2020-04-07 15:58] elrumordelaluz commented on #250
Everything correct, I am aware of the fact on collaborating, maintaining from the `v1` as the stable branch. In case you have any idea/input/PR absolutely open, the `master` branch should be a `@next` one while the `v1` should be switched to `master` again.
As for the release of `v2` some stuff is frozen, while need some investigation to allow implement `actions` (pre/post) on each `step` allowing

[2020-04-07 16:00] elrumordelaluz commented on #251
Or
- wait for `v2` (which should include related stuff, but don't know when will be released) or
- try updating the `update` value for the _Tour_ Component to force an update.

[2020-04-07 16:50] dovy commented on #251
Do you have an example for `updated`?

[2020-04-07 17:57] PeterKottas commented on #250
I see. Sorry to hear you are having trouble implementing some of that stuff. Do you have slack or something similar where we could discuss this live? I've checked the main component on master and I appreciate the progress made compared to v1 branch. It's definitely much cleaner.

Why do you want to have async callbacks in the first place? Do you want to first actions that would affect the next ste

[2020-04-08 07:41] elrumordelaluz commented on #250
Hey @PeterKottas, let's talk [here](https://gitter.im/reactour/Lobby)

[2020-04-08 09:26] Gia1987 opened #254 "Hide step number on the top left side."
Hi, thanks so much for this great library! I really like it.

I was wondering whether it is possible to hide the number of the step?

<img width="453" alt="Screenshot 2020-04-08 at 10 09 31" src="https://user-images.githubusercontent.com/34454055/78767537-a211b400-7982-11ea-85bd-f6637ceeeefc.png">

[2020-04-08 12:04] elrumordelaluz commented on #254
Hi @Gia1987, thanks for open the _Issue_.

You need to pass [`showNumber={false}`](https://github.com/elrumordelaluz/reactour#shownumber) to the _Tour_ Component

[2020-04-08 12:04] #254 closed

[2020-04-08 12:15] Gia1987 commented on #254
Hi @elrumordelaluz, thanks a lot.

[2020-04-08 13:45] FrontendMetis commented on #177
Try wrap to setTimeout function

[2020-04-08 13:56] FrontendMetis commented on #177
Any updates?

[2020-04-08 14:31] Cuxs commented on #177
I ended up doing something similar as @praveen1994kp said.

[2020-04-08 15:22] elrumordelaluz commented on #252
Hi @thomashanahan, thanks for open the _Issue_. Mind share reduced reproduction in a codesandbox?

[2020-04-08 15:25] elrumordelaluz commented on #177
I'm sorry for the late reply. Couldn't this be solved as in [this comment](https://github.com/elrumordelaluz/reactour/issues/68#issuecomment-411324514)?

[2020-04-08 15:29] elrumordelaluz commented on #251
Do you have any reduced reproduction or at least a codesandbox with a similar example to try to explain there?

[2020-04-08 15:37] elrumordelaluz commented on #244
Hi @ketewan, thanks for open the _Issue_.
Absolutely welcome a PR to review! Thanks in advace,

[2020-04-08 17:30] dovy commented on #251
This is what we ended up with: https://github.com/starterblocks/starterblocks/blob/develop/src/tour/index.js

Works fine for us. Thank you.

[2020-04-08 17:30] #251 closed

[2020-04-10 12:03] elrumordelaluz commented on #251
Awesome!

[2020-04-20 12:09] MasoumeAfshar opened #255 "show empty box exactly the same size as before component, when goes to next step outside of view"
The tour starts correctly, but when it goes to the next step that is outside of view, it draws the tour component exactly the same size as before , I remove all overflow-x  style from body but it didn't solve,

It is very different with your demo example in codesandbox ,when goes to next step and  scrolling

![Screen-Recording-2020-04-20-at-4 21 35-PM](https://user-images.githubusercontent.com/304

[2020-04-20 13:25] elrumordelaluz commented on #255
Hi @MasoumeAfshar, thanks for open the _Issue_.
Are you using any library that encloses or your _Components_ are inside a `DOM` node scrollable? Seems that were some _issues_ related to those things.

Do you have a inspectionable endpoint or could you create a reduced reproduction in a codesandbox?

[2020-04-25 15:02] AvniBhatt opened #256 "Can it be configured to Autoplay?"
Is it possible to configure it to autoplay and proceed to next at every 5 seconds please?

[2020-04-27 05:52] ankmathur96 commented on #205
+1 @elrumordelaluz do you have any suggestions for this? The tour element seems to be ignoring my position argument when it's in the form "bottom"/"top", etc. The array works, but I'd rather not compute the viewport size

[2020-05-01 07:42] volkandkaya commented on #110
@darklightblue did you get this working?

Trying to do something similar. When a user clicks a button want to move to next step. I have the step and try to set goToStep on the <Tour> and it doesn't do anything.

[2020-05-01 08:15] volkandkaya commented on #110
@elrumordelaluz is this possible to do? Once fixed I can implement it into my project, users will be so happy.

[2020-05-06 13:28] alesdonoso opened #257 "'styled-components' does not contain an export named 'createGlobalStyle'"
Hi there!

I just tried to use reactour but it seems that some issues are found in node_modules dependencies. I've upgraded styled-components library to v5. This is my package.json:

[code]

When I import the Tour component from 'reactour' the console prints the following error:

[code]

I checked around the index.d.ts from styled-components library and found that the function is correctly exporte

[2020-05-07 07:14] elrumordelaluz commented on #257
Hi @alesdonoso, thanks for open the _Issue_.

Could you please check if there are more versions of `sc` installed in the project.

I couldn't reproduce the error [here](https://codesandbox.io/s/reactour-demo-template-live-d5zmk?fontsize=14&hidenavigation=1&theme=dark) where the dependencies are similar.

<img width="271" alt="Screenshot 2020-05-07 at 09 13 34" src="https://user-images.githubuserco

[2020-05-07 07:17] alesdonoso commented on #257
[code]

Thanks!

[2020-05-08 06:19] elrumordelaluz commented on #257
Hi @alesdonoso, did you found the reason?

[2020-05-08 08:45] alesdonoso commented on #257
Hi @elrumordelaluz, I have not been able to fix the issue, sorry. You can close the issue since I'm not going to use reactour for the moment! Thanks <3

[2020-05-08 14:17] elrumordelaluz commented on #257
ok, feel free to re-open or open a new one

[2020-05-08 14:17] #257 closed

[2020-05-11 12:44] volkandkaya commented on #250
@elrumordelaluz  @PeterKottas how did the talks go?

This is amazing, I just need it to be cleaned up a little and I can launch the in app tours.

[2020-05-13 12:25] atarazavi opened #258 "Highlighting Favicon or PageTitle as one of the tour steps!"
Hi, Thanks for your wonderful and easy to use package.
Is it possible to highlight Favicon and/or page title as one of the steps?
If so, how?
Thanks

[2020-05-14 07:04] elrumordelaluz commented on #258
Hi @atarazavi, thanks for open the _Issue_.

The working area of the _Tour_ is the same of your _Application_ `<body>`. So since the _favico_ and _Title_ is outside that area, it isn't possible.

Closing, but feel free to re-open in case you have a solution or proposals.

[2020-05-14 07:04] #258 closed

[2020-05-14 19:06] Lostkill commented on #255
I have the same problem

[2020-05-15 09:28] GainiK commented on #209
I still have the issue of not being able to edit text fields. I added the

action: node => {
        // by using this, focus trap is temporary disabled
        node.focus()
        console.log('yup, the target element is also focused!')
      },
It prints 'yup....', but nothing can be entered into text field.

[2020-05-15 15:50] elrumordelaluz commented on #209
@GainiK do you have a reduced reproduction to inspect or a codesandbox?

[2020-05-15 15:51] elrumordelaluz commented on #255
@Lostkill does the _Tour_ Component lives inside an `element` scrollable other than the `body`?

[2020-05-15 17:02] Lostkill commented on #255
Yeap! but the parent component is not scrollable, i will try to reproduce error in codesandbox, so i post here

[2020-05-15 17:05] Lostkill commented on #255
I guess scroll need run first then transition tooltip, because he take the position when scroll run he does not update position

[2020-05-19 16:01] dutzi opened #259 "Bundle size"
I've been looking for tour (or user journey) solutions and this one is by far the most polished one I found. Kudos!

The only issue I have is its bundle size, weighing almost 30kb (since styled-components is required for it to work) is a lot. Are there any plans to shrink it down?

If not, @elrumordelaluz, can you please state what are the reasons it weighs so much so others can create a lighter f

[2020-05-20 08:35] elrumordelaluz commented on #259
Hi @dutzi, thanks for open the _Issue_.

First of all I am happy you like _Reactour_.

Probably you are talking about the [this](https://bundlephobia.com/result?p=reactour@1.17.0) bundle size and seems that there is a considerable difference compared to [v1.13.3](https://bundlephobia.com/result?p=reactour@1.13.3) where `focus-lock` and `react-focus-lock` weren't included yet.

Absolutely agree on

[2020-05-23 10:31] volkandkaya commented on #110
@elrumordelaluz Any updates on this?

It seems like a big problem as most apps will have modals etc that need this.

[2020-05-26 05:46] saurabhmahajan0077 opened #260 "Cannot use the customHelper function in typescript"
Cannot use the `CustomHelper` function for `Tour` component, since there are no type definitions present for it. Can you please update the @types for this library.

Tried doing that but somehow couldn't figure out the right way to do it.

[2020-05-26 06:57] #158 closed

[2020-05-26 06:59] elrumordelaluz commented on #260
Hi @saurabhmahajan0077, thanks for open the _Issue_.

Mind make a PR [here](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/reactour)? Thanks for the catch up!

[2020-05-26 07:03] saurabhmahajan0077 commented on #260
@elrumordelaluz
Tried doing that, here's my [commit](https://github.com/saurabhmahajan0077/DefinitelyTyped/commit/0034a2f2d7be7b02aec088ea1cb29c4651d6d2a3)

Couldn't decipher the types for the arguments. Would appreciate some help

[2020-05-26 09:01] lutaalbert opened #261 "Using with ReactSwipeableViews"
Hi, I'm using <code><mark>Tour</mark></code> with <code><mark>ReactSwipeableViews</mark></code>; I have 2 views(<code><mark>ReactSwipeableViews</mark></code>), let's say ViewA and ViewB and a button in ViewA that when pressed switches to ViewB. I have 2 steps(<code><mark>Tour</mark></code>), let's say StepA in ViewA and StepB in ViewB, the problem is that when I press the button to switch the view

[2020-05-26 09:41] lutaalbert commented on #261
I think it might actually be from route changing, history.push() has the same effect, after the route changes, <code><mark>Tour</mark></code> takes over and tries to find the next "step" immediately.

[2020-05-26 10:31] #261 closed

[2020-05-28 09:59] heensheikh22 commented on #260
I am facing the same issue, can someone please take a look at it?

[2020-05-30 12:08] lutaalbert opened #263 "Positioning when screen size is too small"
Hi, is there a way to change the default positioning of center when the screen size is smaller than the one's of Tour?

This is how it looks when the screen size is bigger:
![image](https://user-images.githubusercontent.com/55731599/83327558-6f4eb280-a285-11ea-960e-13916c71eae3.png)

This is how it looks when the screen size is too small(ex: on the mobile, when the virtual keyboard is open):
![ima

[2020-06-01 11:28] saurabhmahajan0077 commented on #260
@elrumordelaluz Can you please take a look at the commit ?
It would be of great help to me.

[2020-06-01 14:32] elrumordelaluz commented on #260
hi @saurabhmahajan0077, could you please let me know how can I help you? Is there a PR not merged?

[2020-06-01 17:29] PeterKottas opened #264 "Unable to use hooks in step content"
The step content is called like a javascript function instead of being called as JSX element. That's why the hooks won't work in function step content. Code responsible for this is [here](https://github.com/elrumordelaluz/reactour/blob/master/src/Tour.js#L260)

This should be pretty straight forward fix via PR, however since I cannot afford to wait for it to be released now, I've create the follow

[2020-06-01 17:31] PeterKottas commented on #264
The reason why I am using hooks in step content (which generally speaking should be kept simple) is i18n. The content rendered here needs to be translated in our app. I guess others might find themselves in similar situation.

[2020-06-01 17:51] saurabhmahajan0077 commented on #260
@elrumordelaluz I need the types of arguments passed to the `CustomHelper` function.

`{
    current,
    content,
    totalSteps,
    gotoStep,
    close
  }` are passed as parameters to the function. As far as I can understand `current` will be a `number` , `totalSteps` will be a `number` , `gotoStep` will be a `function`, `close` will also be a `function`, the only type that I'm not sure of is

[2020-06-03 08:47] elrumordelaluz commented on #260
`content` should be the same as [this one](https://github.com/saurabhmahajan0077/DefinitelyTyped/blob/0034a2f2d7be7b02aec088ea1cb29c4651d6d2a3/types/reactour/index.d.ts#L26)

[2020-06-05 00:36] thefat32 commented on #151
I had the same issue. I was making the mistake of not rendering the tour at all instead of setting "open" property to false. To prevent this behaviour, it could be issued a call to onBeforeClose  when the component is unmounting and the state was open.

[2020-06-05 07:06] elrumordelaluz commented on #151
I'm sorry @thefat32, could you explain a little more what happen hen you are trying  `onBeforeClose`? Thanks!

[2020-06-08 14:41] thefat32 commented on #151
Yes! Suppose you have this component

[code]

When close is requested, steps are set to [] so the Tour is not rendered in next render loop and onBeforeClose is never called. I'm not saying this is a bug, just demostrating a situation where a developer could spect onBeforeClose to be called and it is not. So the solution, if this specific situation is addressed, could be to call onBeforeClose when

[2020-06-09 01:20] tiagopmc commented on #209
@elrumordelaluz I`m still having the same problem. I do `node.focus();`and I can not write on the text field

[2020-06-09 02:28] tiagopmc commented on #209
@elrumordelaluz I just read your code, If I use `disableFocusLock` set as `true`to `<Tour>`I can fix this problem.

[2020-06-09 20:12] ps1223 commented on #163
Can this be made as the default behavior?

[2020-06-09 23:19] tiagopmc commented on #142
@elrumordelaluz any updates?

[2020-06-10 07:12] elrumordelaluz commented on #151
I am curious what is there a reason you need to handle the _Tour_ open/close setting the `steps` array as empty instead if flag the _boolean_ `isOpen`.

[2020-06-16 12:28] FrederikStenberg commented on #110
I managed to do this by initializing the Tour component with the 'goToStep' prop:
[code]

Then I just change my currentStep state as I go and it updates accordingly.

[2020-06-16 16:52] bigfoot31 opened #267 "issues with delay in first tour card appearing"
It takes around 2-3 seconds for the first tour card to appear after triggering onOpen. Anything that I could do to speed it up. Using pretty much the default props. Using data-tour as the selector. Content is only strings.

[2020-06-17 09:59] elrumordelaluz commented on #267
Hi @bigfoot31, thanks for open the _Issue_.

You mean after pass `isOpen=true` to the _Tour_ Component? Do you have a little reproduction o a peace of code to share?

[2020-06-17 11:44] bigfoot31 commented on #267
Seems to be ok in the production version (npm build). Closing it.

[2020-06-17 11:44] #267 closed

[2020-06-21 22:54] kaelhem commented on #86
I'm facing the same issue... My dumb workaround is to use a timeout to force the component to re-render, like this:

[code]
... but it produce a little flashy effect that is not really great.

[2020-06-25 14:16] dqvux commented on #201
Temporarily we can set an id for nextButton:
`
<Tour
          steps={steps}
          isOpen
          nextButton={
            <button id="_tour_next_btn">Next</button>
          }
        />
`
then use "action" in step:
`
const step = [{
        selector: "...",
        content: "...",
        action: (node) => {
          const nextBtn = document.getElementById("_tour_next_btn");
          if

[2020-06-25 14:22] dqvux commented on #201
Temporarily we can set an id for nextButton:
[code]

then use "action" in step:
[code]

[2020-06-26 06:58] tgreen7 opened #268 "Custom component for closeButton?"
i see there are ways to pass custom button components for `prevButton` and `nextButton`. Why not have the same capability for the close button?

[2020-06-30 07:02] elrumordelaluz commented on #86
@kaelhem could you please put a little reproduction in a sandbox in order to debug easier the app with the behaviour you are looking for? thanks!

[2020-06-30 07:17] elrumordelaluz commented on #209
@tiagopmc most of the times the _issue_ is related on an undesired re-render of the _Tour_ Component. Do you have a reduced reproduction to put in a sandbox?

[2020-06-30 08:14] kaelhem commented on #86
Sure!
In my case, I want to show several tours with a menu to switch between them.

Here's a codesandbox that reproduces the error
https://codesandbox.io/s/broken-sun-h6q29

And, here's the same with the workaround
https://codesandbox.io/s/sad-oskar-jdxh4

Indeed, the workaround make an undesired "flashy" effect on Chrome (but not on Safari...)

Hope it helps !

[2020-06-30 11:57] elrumordelaluz commented on #86
Hey @kaelhem thank you for creating and sharing a sandbox.

I solved this particular _use case_ with the following approach: since the `step.content` could be a `func` I switched into it the `content` for steps of _first_ and _second_ sections, like this:

[code]

Then, use the `prop.goTo` inside the _Step_ Component to go back to `0` when clicking the `button`. something like this:

[code]

Since

[2020-06-30 13:35] kaelhem commented on #86
@elrumordelaluz Nice! Thanks for that. I didn't think to use the goTo like this. Good catch.
Also, for posterity, I've [updated the sample](https://codesandbox.io/s/sleepy-bash-cucr4) to be able to re-open the 'main' tour (with  the `startAt` parameter set to 0).
Now, I've got an easy way to make a lot of tours for my app :)

[2020-07-01 08:35] abhilakshyadobhal opened #269 "Regarding goto action in typescript"
I have a button, on clicking the button it shows a drawer so how will I directly show the next step which is on drawer in action of that particular button.

[2020-07-01 09:34] elrumordelaluz commented on #269
Hi @abhilakshyadobhal, thanks for open the _Issue_.

Could you please expand your explanation with a peace of code or, better, with a reduced sandbox?

Thanks!

[2020-07-02 00:05] lucas-rombaldi commented on #268
I agree with @tgreen7, that would be a pretty nice feature. Mainly because it's not so clear about what should happen on clicking in the close button.

[2020-07-02 12:14] jimmydjabali opened #271 "Scrolling issue on Firefox"
Reactour seems to prevents the scrolling on the page. It works well on Chrome
However, on Firefox, it is still possible to scroll the page. And then it may break the layout and display.

**Chrome** (scroll is **impossible**)
![image](https://user-images.githubusercontent.com/10889224/86356381-6da15180-bc6c-11ea-9106-fc41873bba93.png)

**Firefox**  (scroll is **possible**)
![image](https://user-ima

[2020-07-02 14:45] elrumordelaluz commented on #271
Hi @jimmydjabali, thanks for open the _Issue_.

Are you testing at https://reactour.js.org/?

I cant reproduce using _Firefox_ as the main browser.
Let me know,

[2020-07-03 22:11] jimmydjabali commented on #271
Yes, I am using https://reactour.js.org/
I used Firefox Developer Edition (79.0b3) on the screenshot above.
I tried with regular Firefox (78.0.1), and there's **not** the problem, so probably it's a Firefox bug

[2020-07-04 06:19] elrumordelaluz commented on #271
I can't reproduce neither using last version of FF DE
<img width="400" alt="Screenshot 2020-07-04 at 08 18 12" src="https://user-images.githubusercontent.com/784056/86506360-fdf7a780-bdce-11ea-9929-3e594cb0b8fb.png">.

I am closing but feel free to reopen in any case.

[2020-07-06 09:44] jimmydjabali commented on #271
I am on Windows, probably it is the reason of the bug. But I'm not sure it concerns you then :)

[2020-07-06 10:02] elrumordelaluz commented on #271
Will try also on windows. Mind debug a little to understand if `<body style="overflow: hidden;">` is applied and why doesn't work? Thanks in advance,

[2020-07-07 03:59] #269 closed

[2020-07-14 17:54] jordanbstevens3 opened #273 "Uncaught exception when observe element no longer exists"
Changing route or state that causes the observe target to no longer exist throws this error.

_Uncaught TypeError: Failed to execute 'observe' on 'MutationObserver': parameter 1 is not of type 'Node'_

In src/Tour.js:
Line 172: ` () => this.state.observer.observe(target, config)`

This is a v1 issue. Have not tested against master.

Not sure the best way to handle catching this exception. Any sugg

[2020-07-19 12:25] koiski commented on #53
same

[2020-07-20 20:49] nelsonwong1012 commented on #102
@elrumordelaluz I was hoping to see `actionBefore` in the latest release. Just wondering, was it missed or intentionally left out? Any idea when it will get released? Thanks.

[2020-07-25 15:14] aatif24 commented on #252
is this resolved, i am facing the same issue, when i list a selector in steps on the page where you need to scroll, it does not work

[2020-07-27 03:06] baohouse opened #275 "Scrolling to element uses wrong parent container if overflow-x: auto"
After stepping through the code line-by-line, there was a situation where reactour wasn't scrolling to the target element further down the page. So it turns out the way scrollparent works is that it checks ancestor elements for the "overflow", "overflow-x", and "overflow-y" CSS properties, looking for "auto". See https://github.com/olahol/scrollparent.js/issues/7

However, there is a funky situati

[2020-07-27 08:06] elrumordelaluz commented on #252
@aatif24 could you share a reproduction on a sandbox?

[2020-07-27 08:10] elrumordelaluz commented on #275
Hi @baohouse, thanks for open the _Issue_ and for the investigation.

There was some similar situations where UI libraries use `overflow` and the _scroll_ behaviour didn't work as expected. So, I assume your investigation is super valid. Do you have a reduced reproduction (using that UI lib) in order to debug and better to improve the _Reactour_ behaviour?

Thanks in adavace,

[2020-07-27 08:18] baohouse commented on #275
@elrumordelaluz Yup, quite easy. Just add overflow-x: hidden to the root element in the demo.
https://codesandbox.io/s/reactour-demo-template-live-o53bu

[2020-07-27 08:32] elrumordelaluz commented on #275
right! but in that case you aren't using an external UI lib, so the easy solution is to set the `overflow` values back (ie. an advice in Readme).

[2020-07-27 08:55] baohouse commented on #275
Ah true, I can use onAfterOpen/onBeforeClose to temporarily override/restore the CSS property on the wrongly selected container. This will have to do for now.

[2020-08-03 20:39] christiantigre opened #277 "How can I prevent the tour from closing?"
How can I prevent the tour from closing? example modal backdrop={"static"} , when the user clicks outside the modal.
 I try.
[code]

[2020-08-04 08:20] elrumordelaluz commented on #277
Hi @christiantigre, thanks for open the _Issue_.

Could you please elaborate a little more your _issue_ or better create a sandbox with a reduced reproduction?

Thanks!

[2020-08-11 16:11] quuu opened #278 "[a11y] Step content isn't read by screen reader + step buttons not labeled"
Was testing out reactour with MacOS Catalina screen reader voice over on. The steps are fine when navDotAriaLabel is specified, but moving forward and backward arrows are simply labeled as "button".

The content is also not selectable/ readable. Maybe it's missing an aria label?

[2020-08-13 08:41] aatif24 commented on #252
i can share small video of the behaviour if you need

[2020-08-13 12:55] elrumordelaluz commented on #252
sure

[2020-08-13 13:23] aatif24 commented on #252
[Screen Recording 2020-08-13 at 6.50.15 PM.zip](https://github.com/elrumordelaluz/reactour/files/5069253/Screen.Recording.2020-08-13.at.6.50.15.PM.zip)

[2020-08-18 06:16] MikeKoval opened #279 "Is it possible to customize close component and it's props?"
https://github.com/elrumordelaluz/reactour/blob/master/src/Tour.js#L401
I would like to add custom tooltip for close button but it seems there is no possibility to pass custom Close component into Tour, am I right?

[2020-08-20 08:05] RituBhawsar opened #280 "Highlight element"
Great Module !

I am trying to figure out how i can change the look of highlighted element just for e.g i want to show the border or any background color for the highlighted element instead of showing the default one.

[2020-08-21 15:11] nelsonwong1012 opened #281 "How to reset to first (or any) step on reopening"
When the tour closes and then reopens, I want it to reset to the first step rather than the step it was at when it closed. Is there an easy way to do this without re-rendering the component?

[2020-08-23 10:07] koiski opened #282 "Is it possible to set the current step to state?"
If I do something like this:
`getCurrentStep={curr => setState({ currentStep: curr })}`
I get an error saying: "Cannot update a component from inside the function body of a different component"

Is there any way of setting the current step number to a state variable?

[2020-08-24 07:57] cherishh commented on #74
I found a hack on this. If you log the Tour component i.e. put it in a ref, you will find that it has a `gotoStep` function.
![image](https://user-images.githubusercontent.com/20265415/91018592-5b1b1700-e622-11ea-9c83-cdc8babd1c9e.png)
You can use this to dynamically change step.

[2020-08-24 07:58] cherishh commented on #110
I found a hack on this, see https://github.com/elrumordelaluz/reactour/issues/74#issuecomment-678971520

[2020-08-24 12:10] volkandkaya commented on #110
Yep already use goToStep, problem is with modals.

[2020-08-24 13:37] cherishh commented on #209
Come across with the same issue. But in my case there is another input field in the next step, and somehow `node.focus()` from last step still working, so my step mismatch to the input field instead of the correct element.
Is there any way to fix this?

[2020-08-25 07:07] elrumordelaluz commented on #209
hi all, any way to create a minimal reproduction i a sandbox? thanks!

[2020-08-25 07:09] elrumordelaluz commented on #281
☝️

[2020-08-25 07:23] elrumordelaluz commented on #280
Hi @RituBhawsar, thanks for open the _Issue_.

The highlighted element doesn't have a wrapper _per se_. Is highlighted thanks to the _Mask_ areas that creates that _hole_. However, thanks to the prop [disableinteraction](https://github.com/elrumordelaluz/reactour#disableinteraction), which adds an extra svg `rect` to avoid the _User_ interacts with the highlighted element content, you could obtain

[2020-08-25 07:27] elrumordelaluz commented on #279
Hi @MikeKoval, thanks for open the _Issue_.

There isn't a way to pass only than button, but you could approach passing a `CustomHelper`, like in the [demo](https://github.com/elrumordelaluz/reactour/blob/master/src/demo/App.js#L62).

Let me know if could fit in your use case.

[2020-08-25 13:58] nelsonwong1012 commented on #102
@elrumordelaluz Just want to bring this up again. Would really love to see this feature get in!

[2020-08-25 14:04] nelsonwong1012 commented on #281
@koiski @elrumordelaluz Ah, I had already tried `startAt={0}` and it did not work and I realize it's because I'm using the code on the `master` branch. It does work with `1.18.0`. Was this feature intentionally removed on `master` or is this a bug?

[2020-08-25 14:54] elrumordelaluz commented on #281
mosltly problably a `bug` :(

[2020-08-25 15:42] nelsonwong1012 opened #283 "How can we collaborate better and speed up development on this project?"
This is a great project but I feel the speed of development and improvements is losing momentum. I think others agree with me. @elrumordelaluz, I'm sure you're busy with a lot of things. So I'm wondering what we can do to improve collaboration and make it easier for others to contribute. Just want to get this conversation started.

[2020-08-25 16:36] elrumordelaluz commented on #283
Hi @nelsonwong1012!

I really appreciate your words and the fact that you open this _Issue_!

First, because based on your activity on the project, I am pretty sure you appreciate it and the most important part, you use it! I am also aware that lots of the increasing _Issues_ are absolutely solvable in a better timing than the current one, which depends a lot in my activity or absence in the _repo

[2020-08-26 04:54] RituBhawsar commented on #280
Hi @elrumordelaluz , Thank you for your response
Yes i have did the same it is working fine, but when we want to apply style different for each of the Highlighted element So is there any way for that?

[2020-08-26 07:51] elrumordelaluz commented on #280
Leaving this _issue_ open since could be interesting to have a dynamic _global_ `className` that changes based on current `step`, letting you customize also that `rect` based on it.

[2020-08-26 12:37] QasimRRizvi opened #284 "[NEED INFO]: How can I call my function on clicking next step arrow."
I saw in props we have nextStep function, but this function overrides the default.
Do we have something like onNextStep function? So we have default functionalities of nextStep function but also we can do something after clicking the next step arrow.

[2020-08-26 18:16] christiantigre opened #285 "I need add alone 2 position."
I need add alone top and left position, but not work.
I try
[code]

[2020-08-27 00:36] christiantigre commented on #190
any solutions?

[2020-08-27 04:57] RituBhawsar commented on #280
Thanks @elrumordelaluz,Yeah it's better to have the dynamic className and for now i have accessed the highlighted element and applied css for each step with the help of getCurrentStep function.

[2020-08-27 06:42] elrumordelaluz commented on #285
Hi @christiantigre, thanks for open the _Issue_.

At the moment you could pass [one of 'top', 'right', 'bottom', 'left', 'center'](https://github.com/elrumordelaluz/reactour/blob/master/src/propTypes.js#L44-L47) or an Array of `[x,y]`.

Closing but feel free to re-open in any case.

[2020-08-27 06:42] #285 closed

[2020-08-27 14:40] kkirsche commented on #268
I would also be interested in this, please

[2020-08-30 11:04] SalmanMehmood commented on #284
You can implement custom next and previous button functionality like this.

`function TourGuide(props) {
    const [current, setCurrent] = useState(0);

    const handlePrevStep = () => {
        setCurrent((prev) => {
            let prevStep = prev > 0 ? prev - 1 : prev;
            return prevStep;
        });
    };

    const handleNextStep = () => {
        setCurrent((prev) => {

[2020-08-30 11:07] SalmanMehmood commented on #277
Add this prop..
`disableInteraction={false}`

[2020-08-31 06:41] elrumordelaluz commented on #277
Thanks @SalmanMehmood I didn't understood, but seems the perfect answer.

[2020-08-31 07:43] QasimRRizvi commented on #284
@SalmanMehmood thx :+1:

[2020-08-31 07:43] #284 closed

[2020-09-03 10:45] clarkd commented on #205
Seeing the same here

[2020-09-04 08:02] frankyso opened #286 "Next.js Support"

[2020-09-09 10:24] Sirius-Coder commented on #209
Thanks ! a lot ..It worked for me ...Literally spent hours looking for this

[2020-09-12 20:00] Praharsh99 commented on #277
Hi @christiantigre,
Even I wanted the exact behavior. So, I tried and it worked for me.

See the snippet attached. Hope it helps

Please correct me If I am wrong or did a mistake anywhere in the code...😀
![tour](https://user-images.githubusercontent.com/38614938/93003970-bc1e7680-f560-11ea-9aeb-38bd585c89a4.png)

[2020-09-12 20:10] Praharsh99 commented on #268
Yeah, that would be cool!
But I tried to implement it on my own. I've set "showCloseButton" to "false" then added the "lastStepNextButton"={YOUR CUSTOM COMPONENT HERE...} and styled the custom component to be at the right place. But this component only appears on the last step which might be not suitable for all situations

[2020-09-17 10:15] utkarsh22garg opened #288 "Second dot is getting focused (displaying black border) in navigation bar"
As seen in the image below a black border comes in the second dot of the navigation bar (even on demo page)
![image](https://user-images.githubusercontent.com/31355903/93457044-271ed300-f8fc-11ea-9bc9-6f289f40d3e4.png)

This border doesn't appear suddenly when you open the tour. To recreate the following issue in the demo page follow these steps:

1. Click on **Try It**.
2. Now switch to different

[2020-09-17 21:30] quantafire commented on #249
@dovy How were you wrong though? Having my own issues with this same error.

[2020-09-18 07:04] elrumordelaluz commented on #249
I am curious about the plugin! is there any link?

[2020-09-23 18:48] JakeGreer commented on #233
I would love to make use of this functionality as well. Is there any update on this?

[2020-09-24 16:45] Dieter103 commented on #282
I'm using it in a function component and this works for me
`getCurrentStep={(curr) => { setCurrentStep(curr); }}`

[2020-09-28 19:49] ponochovny opened #290 "On mobile version only after change resolution it updates and make normal position of mask and container with tip"
I have a page, i open chrome devtools and mobile size, start tour and my block is first, at the start of the page, it highlighted but container with tip is outsite the page, and once i change resolution - it updates and looks ok.
Also tried on my android with chrome browser. Same, fitst - bad mast and container tip position - once i rotate device - it updates and looks ok

Using react & mobix

[2020-09-28 19:59] ponochovny commented on #290
Also in modal i have a block to show in tour. and this block is modal content that need to be scrolled to be shown, modal when opened has some space at the bottom, so tour just shows half of the content i want to show, and there i need to scroll down to see full content that in this step

[2020-09-28 20:01] ponochovny commented on #290
I think it's about to add 'offset' feature to scroll

[2020-09-29 09:36] mhmt commented on #288
You can override it with outline:none property. Here is an example in scss. You can add this container class to className property of Tour component and it overrides outline property in arrows and dots.

`.UITourContainer {
    :global {
        [data-tour-elem="right-arrow"],
        [data-tour-elem="left-arrow"] {
            outline: none;
        }
        .reactour__dot {
            cursor:

[2020-09-30 04:16] utkarsh22garg commented on #288
That's a great solution. But I believe this is a kind of hack solution. In the first place it should not be getting focused. If we override its outline then while using keyboard to navigate the dots the border will not be visible.

[2020-09-30 06:35] mhmt commented on #288
I think border is really unneccessary. I want to get rid of it completely. But in your case you are right. Maybe someone else can provide a solution for it. Good luck :)

[2020-09-30 18:44] ponochovny commented on #290
Okay, i found the solution. Remove scroll-behavior: smooth from html tag. but would be good if u would find sime fix

[2020-10-01 08:45] elrumordelaluz commented on #290
Hi @ponochovny, thanks for open the _Issue_.

Seems a duplicated of #252

[2020-10-07 14:52] KATT opened #291 "`prevButton` / `nextButton` are actually labels"
I noticed I got errors from React because I have nested `<button>`s as `prevButton={<Button [..] />}` will actually render two buttons, one from my component library and one from `reactour`.

## Suggestion

- Change `prevButton` to `prevButtonLabel`
- Add `renderPrevButton` that can actually handle the whole button flow

Will do a PR with what I'm thinking

[2020-10-12 18:30] dramagalla opened #293 "I have installed reactour latest version and trying to use it in my application, I see below error"

[2020-10-12 19:38] dramagalla opened #294 "Uncaught TypeError: React.useRef is not a function"
I have installed Reactour latest version and trying to use it in my application, I see below error. Currently using "react": "16.4.0" version and cannot upgrade the application to latest React versions. Please suggest how to use Reactour and resolve issue with "16.4.0" version!

![image](https://user-images.githubusercontent.com/36393100/95783801-98099e80-0ca0-11eb-97d8-4ec0d99858d3.png)

[2020-10-12 22:09] grant-davidson commented on #294
@dramagalla - You'll need to use one of the older releases of Reactour that doesn't use React 16.8

[2020-10-13 00:49] dramagalla commented on #294
Can you please suggest which version of Reactour I should use. Not able to understand.

I used 1.14.0 and its giving below error

![image](https://user-images.githubusercontent.com/36393100/95802792-6b6b7c00-0ccc-11eb-95be-7d866d378511.png)

[2020-10-13 05:53] #293 closed

[2020-10-14 00:09] JoshuaWarejko opened #295 "Cannot use observe prop when content is injected into DOM."
Having an issue implementing a few steps in my tour.

Upon going to a specific step, a modal is triggered to open via updating the state inside the `action` function for the step.
For this particular step, I set the `observe` prop to an element inside the modal, but an error is thrown and the app crashes when changing to the step. I believe this is happening because the modal content is not in the

[2020-10-14 03:18] dramagalla commented on #294
@elrumordelaluz Can you please help with above issue

[2020-10-14 05:34] grant-davidson commented on #294
Reactour 1.14.0 works fine with React 16.4.0

You'll need to reproduce the problem in a sandbox.   You could use the one below as a starting point.

https://codesandbox.io/s/reactour-demo-template-1640-1140-8ccrz

[2020-10-14 06:05] dramagalla commented on #294
thank you for reply @grant-davidson I have tried 1.14.0 and also installed styled-components@4.4.1. It works in sandbox but not in my application and I see the below issue
![image](https://user-images.githubusercontent.com/36393100/95949898-a00d2f80-0dc1-11eb-92b8-d23fafc800db.png)

[2020-10-14 06:10] grant-davidson commented on #294
You'll either need to change the sandbox code to be more like your application or your application code to be more like the sandbox until you can isolate the cause of the problem.

Maybe start by making the tour in your app as simple as possible.

[2020-10-14 06:20] grant-davidson commented on #294
Also, there are quite a few closed issues related to getBoundingClientRect that may have a workaround/solution to the problem you are having.  It would be worth checking through those.

[2020-10-16 16:49] Cyral opened #296 "Incorrect scrolling on iOS"
When scrolling to out-of-view elements, the highlighted area is not positioned correctly.

This can be seen on the demo, click the last step and you will see that the highlighted area is above the button.

![IMG_0564](https://user-images.githubusercontent.com/4945029/96286151-f343d580-0fad-11eb-8c62-3f538aac29d1.jpg)

[2020-10-17 09:30] haxxxton commented on #296
cannot replicate on ios 13.7 on iPhone 7. tested on both latest Safari and Chrome

[2020-10-17 16:59] haxxxton opened #297 "[Feature Request] Pass rendered position (direction) to CustomHelper"
It would be great to be able to get the position (ie. the direction of the step) passed in as a prop to CustomHelper. This would aid in adding things like directional triangles to the CustomHelper to "point" to the area in the mask.

It's my understanding that it is not enough to simply pass the defined step position value through to CustomHelper, as the actual rendered position of the Helper is s

[2020-10-17 17:02] haxxxton opened #298 "[Feature Request] ability to defined custom SVGMask component"
It would be great to have the ability to define a CustomSVGMask. Particularly to allow for things like step specific rounding, rounding only in particular corners, custom shaped masks.

[2020-10-17 17:05] haxxxton opened #299 "[Feature Request] Add corner positions"
It would be great to be able to specify more specific positioning of the Helper relative to the node (eg. 'bottom-right', 'left-top', etc.)

[2020-10-17 23:41] Cyral commented on #296
This occurs on iOS 14.0.1 on an iPhone Xs Max for me

[2020-10-18 01:22] haxxxton commented on #283
Just to throw my hat in this ring, i would love to help where i can, this project is awesome

[2020-10-18 13:41] geekyogurt commented on #163
Is there a version where this is the default behaviour?

[2020-10-21 09:44] MJeorrett commented on #298
A use case I have for this is an element which is out of the main document flow and so reactour's default mask, understandably, ignores it.

[2020-10-22 02:50] FernetB opened #300 "Ionic capacitor ios problem"
Hey folks!

I'm here with an issue/feature (I don't know if i can call it an issue because this library is not intended to work correctly in an app made with capacitor ) but here is the thing.

The tour i made work just fine in both chrome and safari, but when i build the ionic app with capacitor and then test it in mobile the element that are meant to be highlighted are not highlighted and i can'

[2020-10-22 04:38] FernetB commented on #300
You can close this, i just upgrade the iphone version from 12.1 to 14.1 and the bug fix it!

Awesome job, love this package!

Cheers!

[2020-10-22 06:12] elrumordelaluz commented on #300
Cool to hear it work fine also in that kind of apps! Feel free to re-open in any case.

[2020-10-22 06:12] #300 closed

[2020-10-22 06:17] elrumordelaluz commented on #298
Hi @haxxxton, thanks for open the _Issue_. Pretty interesting that _feature request_. Mind share at least a screenshot or a sketch with an example of what kind of _Mask_ you are looking for.

You think this more like pass some values to customize or directly pass a new _Component_? I put the focus here, because the mask is an svg composition, in order to allow interaction with the _highlighted_ el

[2020-10-22 10:09] MJeorrett commented on #298
Hey @elrumordelaluz, thanks for getting back.

Specific case we have is we are using the [search module](https://react.semantic-ui.com/modules/search/) from semantic ui.  I'm not sure specifically what you mean by `Portal` but the result I am getting is that the greyed out area cuts off / ignores the results list like so:

<img src="https://user-images.githubusercontent.com/9042089/96857118-879eb4

[2020-10-22 10:29] elrumordelaluz commented on #298
hey @MJeorrett thanks for the details provided. That situation could be solved by _observables_.

Mind creating a reduced reproduction in a `sandbox` so, in case is doable show you how to achieve?

Thanks,

[2020-10-22 10:47] MJeorrett commented on #298
Thanks again for the super quick response @elrumordelaluz!

Here is a minimal repro: https://codesandbox.io/s/reactour-semantic-ui-search-repro-v7t68.

[2020-10-22 11:51] elrumordelaluz commented on #298
@MJeorrett you could do something like [this](https://codesandbox.io/s/reactour-semantic-ui-search-repro-forked-tynzs)

[code]

[2020-10-22 12:27] MJeorrett commented on #298
Awesome, thanks for this @elrumordelaluz, looks to be heading in the right direction.  Is there any documentation on these features?  As far as I can see the documentation is just the README in the repo but maybe I am missing something?  If there is no documentation on this yet then I am happy to dig through the code to understand it and put up a PR for adding to the README if that is desirable?

[2020-10-22 12:32] elrumordelaluz commented on #298
Absolutely welcome PRs, and more regarding `docs` that is a big missing part in this project!

[2020-10-22 13:01] MJeorrett commented on #298
I looked in to adding documentation @elrumordelaluz and realise my mistake now: the master branch does not reflect the current published version of the project, as is noted with a prominent warning at the top of the README on master!!  The README on the v1 branch includes documentation of these features and so no PR required.  Once you get master back in sync with the published version it will pre

[2020-10-22 13:07] elrumordelaluz commented on #298
no problem! I am happy that everything works well at the end. In the future I want to improve docs but outside the _README_. For now it's ok. Thanks again!

[2020-10-22 13:59] narghev opened #301 "Is there a way to disable next button for a particular step?"
Hi, I am working on a demo and have some steps where I WANT the user to click on the highlighted area and perform an action. I have already figured that part by passing a ref and calling `ref.nextStep()`. Now the problem I have is that the user can just click away from that step without taking the action. Is there a way to disable it?
Also note that I do not want to disable the next button for the

[2020-10-22 17:11] andrestigre opened #302 "Warning on Tour"
I have this error 👍

[code]

my compoenten:

[code]

[2020-10-24 01:56] haxxxton commented on #298
Hi @elrumordelaluz, heres a couple of redacted screenshots that im trying to emulate. The key thing here is the 'glow' effect around the area. In the first screenshot you'll also note that the mask has rounded top borders, but not on the bottom.

![image](https://user-images.githubusercontent.com/743105/97065260-a7b5ab00-15ef-11eb-911e-8126c66fa9f8.png)
![image](https://user-images.githubuserconte

[2020-10-24 02:01] haxxxton commented on #299
To add more details to this: You'll not the little top caret that is aligned to the left in this screenshot. This would be the intention of a 'bottom-left' alignment. ie. position the Helper at the bottom of the selected element, then align to the left of the selected element.

![image](https://user-images.githubusercontent.com/743105/97065385-3e826780-15f0-11eb-84f0-dac47c5c0e99.png)

[2020-10-24 02:07] haxxxton commented on #297
To add more details to this: You'll note the little top caret that is aligned to the left in this screenshot. This would be the intention of passing the rendered position through to a CustomHelper. The CustomHelper would be responsible for rendering the caret, but needs to know which position and direction to render it. The current code that detects the viewport is awesome, and moves the Helper so

[2020-10-24 13:15] haxxxton commented on #296
Can confirm since moving to 14.1.0 im now experiencing the same issue as described @Cyral on my iphone 7

[2020-10-25 09:28] cristianghita24 opened #303 ".readme is useless as tutorial for beginners"
I can safely say that I am not an advanced react developer and for me, the Usage part of .readme is 100% useless. Look at it with the eyes of a person that didn't write that code or is not doing react for 3+ years.

`
const steps = [
  {
    selector: '.first-step',
    content: 'This is my first Step',
  },
]
`

`
<Tour
        steps={steps}
        isOpen={isTourOpen}
        onRequestClose={()

[2020-10-26 09:16] elrumordelaluz commented on #297
Hi @haxxxton, thanks for open the _Issue_.
This is a crucial point where I am working with. You'll have available the not only the position passed by user (or the `left` default) but also the final calculation and alignment.

Will back to you as soon as I deploy it.

[2020-10-26 09:25] elrumordelaluz commented on #298
Thanks @haxxxton to share your _use case_.

Regarding the glow you could solve fast in some using `disableInteraction` prop and customizing the `rect`. Here is an [example](https://codesandbox.io/s/reactour-demo-template-live-forked-og417?file=/styles.css).

[2020-10-26 15:01] amirHossein-Ebrahimi opened #304 "why not putting rx on the rect element for making rounded corners"
[code]

[2020-10-26 15:45] elrumordelaluz commented on #304
Hi @amirHossein-Ebrahimi, thanks for open the _Issue_.

Pretty good point! I think there is an inherited approach from when we used `div`s to compose the _Mask_.
Looks ok for me your approach. Pinging @qboot in case have something to say, otherwise, mind make a PR to update the _Mask_ into one single `rect`?

[2020-10-26 21:23] vitaliyslion commented on #303
Well I agree that the Readme isn't perfect and it requires some fine tuning.
However, I don't think that your points are good criticism.
`What is selector?` - This term comes from CSS. You can read about it here: [CSS selectors](https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors).
`had to set isTourOpen to true. it is nowhere mentioned.` - It was mentioned in a _Tour prop

[2020-10-27 08:03] elrumordelaluz commented on #303
Hi all, I am sorry that the _README_ didn't give the information you @cristianghita24 expected. However the _Documentation_ is an important pont for future improvements.

[2020-10-28 14:35] siemano1 commented on #301
I managed to achieve that by conditionally setting a class name and then hiding the next button based on that class

[2020-10-28 14:40] narghev commented on #301
Thanks for the hack. You did that in action?

[2020-10-29 06:12] benyael15 opened #305 "can't interact and close the step once clicking on the Mask"
https://github.com/elrumordelaluz/reactour/blob/ee4b15e819cf3933436f4f24ba670ab1c22f158a/src/Tour.js#L282

when StepInteraction (per step) is true, and the DisableInteraction of the Tour component is false -
according to this line i should be able to interact with the Mask and close the tour once i click it -
somehow it doesnt happen

thinking somehow cause the classname maybe exist..

function ma

[2020-11-03 07:37] sasha1016 commented on #74
@cherishh The goToStep doesn't work after the tour is closed

[2020-11-07 11:53] smartmock commented on #282
Hi. I experienced that too. IMO the problem is that the `getCurrentStep` function is invoked, and the `Tour` component gets rerendered due to the state change (if the `Tour` component depends on any state-managed properties). In this case, you have a cyclic dependency. Updating state triggers `getCurrentStep` what triggers the state change etc.

[2020-11-08 10:56] amirHossein-Ebrahimi commented on #304
Hi,
sorry for being late
[PR](https://github.com/elrumordelaluz/reactour/pull/306)

[2020-11-08 15:33] koiski commented on #282
A workaround for this is settings a timout function
`setTimeout(() => {
        setState({ currentStep: curr });
      }, 0);`

You can see here, why this works: https://www.gitmemory.com/issue/Paratron/hookrouter/110/604592927

[2020-11-10 14:18] AndonMitev opened #307 "[QUESTION]Static position"
Can we use static position, popup to be always on bottom right position of the window?

[2020-11-15 11:11] spider58 commented on #102
Hi.

we want to actionBefore and actionAfter events. please.

[2020-11-15 22:18] bogodars commented on #268
Same here! It will be very cool to customize close button, or change it to 'Skip" button.

[2020-11-15 22:20] bogodars commented on #302
I have the same error.

[2020-11-18 10:42] bogodars commented on #268
Well guys, i figured out, that There is Close component and it is possiy to customise it how you need. If you need a hint write to me.

[2020-11-18 12:16] kkirsche commented on #268
@bogodars please share in the thread so that all users who have expressed interest and future search users can see the answer.

[2020-11-18 13:21] bogodars commented on #268
in src Components there is a Close component which stands for Close button, so you just need to customize this button as you need.

[2020-11-18 13:31] bogodars commented on #268
[url=https://imgbb.com/][img]https://i.ibb.co/mzhfbn4/Close.png[/img][/url] This is how my close button looks after customization.

[2020-11-19 10:25] antonjohanssonse opened #308 "Highlighted selector has shadow"
Hai, great repository, everything works as intended for me except the highlighted area, I can put a border around it but its not removing the shadow correctly.

Let me show you how it looks like
<img width="127" alt="Screenshot 2020-11-19 at 11 21 07" src="https://user-images.githubusercontent.com/40592120/99653493-5e734280-2a59-11eb-948e-0a0c0d1f52e7.png">

I would like it to be transparent, like

[2020-11-21 14:24] amirHossein-Ebrahimi commented on #304
Hi @qboot
I think, functions can be composed to generalize all needed features in logical part.
e.g. functions such as [getNodeRect](https://github.com/elrumordelaluz/reactour/blob/ee4b15e819cf3933436f4f24ba670ab1c22f158a/src/helpers.js#L1)
can be composed with padding system calculator
and `safe` to  increase performance.
also exported object can be cached to reduce re-render issue in react side.

[2020-11-23 06:37] elrumordelaluz commented on #304
Hi @amirHossein-Ebrahimi,
Pretty appreiate your inputs, mind highlight the `code` parts you mean to move, or better make a PR to review?

Thanks in advance,

[2020-11-23 08:00] amirHossein-Ebrahimi commented on #304
Thanks, @elrumordelaluz

I may be slow in PR, but here is a code that I meant:

I suggested two new things in this
+ one is a circular highlight (may be needed for the icon buttons)
+ other is doing a logic part in the logic part

[code]

Then SVG mask `mask-main` and clipPath `clip-path` can be much presentational

[2020-11-24 13:09] RSchneider94 commented on #302
Any updates on this? Still receiving the error here.

[2020-11-25 06:56] hoslack commented on #98
Hello @elrumordelaluz, could this feature be merged anytime soon?

[2020-11-26 12:12] xs9627 commented on #98
As the pull request haven't been merged yet, for anyone want to have a try the test version on my forked branch, try
`npm install https://github.com/xs9627/reactour/tarball/test`

[2020-11-27 02:14] jzsplk opened #309 "the @types/reactour is in v1.17 but new feature is in v1.18"
the @types/reactour is in v1.17 but new feature is in v1.18

[2020-11-30 16:50] sorokin-vladimir commented on #209
@tiagopmc  Thanks a lot! It works.
@elrumordelaluz I suggest you include this option into your official doc. It's such useful parameter

[2020-11-30 19:43] richardantao opened #311 "Support for React v17"
Hello, please add support for React v17 in the next version.

[code]

[2020-12-01 11:18] hamed4000 opened #312 "not issue, How to to be displayed reactour just first time in nextjs ?"
I'm using tour in next.js

I want to **just first time** when page is rendered *reactor* to be displayed, and when route change and come back to this page reactor not to be displayed
**how can do this?**

    import { disableBodyScroll, enableBodyScroll } from "body-scroll-lock";
    import dynamic from "next/dynamic";
    const Tour = dynamic(() => import("reactour"), { ssr: false });

    const

[2020-12-01 12:20] hamed4000 commented on #312
I found it :

write this code in useEffect

[code]

[2020-12-01 12:20] #312 closed

[2020-12-02 21:30] diegoolavarria opened #313 "Problem focusing element outside viewport"
Hi, first of all, good job, this is a really cool library

The tour boxes work perfectly for elements inside the viewport. The problem is with elements outside the viewport, or that render beyond the limits of it. When the next step is outside the current viewport, the hint box moves beyond the bottom limit, and I have to use the right-arrow key from the keyboard to be able to show it.

Las cajas

[2020-12-03 12:00] thibaultadet commented on #286
I'm not sure you can import a package with the `dynamic` option, it didn't work for me.
You need to create a component thats holds the package.
That's how it worked for me, I created an `AppTour` component:
[code]

and imported it with `next/dynamic`:
[code]

[2020-12-03 14:33] diegoolavarria commented on #313
![Captura del escritorio de 03-12-20 14_29_26](https://user-images.githubusercontent.com/15364801/101041841-70ce9f80-3574-11eb-9dc9-4d23f01b2bb4.gif)

[2020-12-03 14:55] diegoolavarria commented on #313
![Captura del escritorio de 03-12-20 14_52_07](https://user-images.githubusercontent.com/15364801/101044666-872a2a80-3577-11eb-9faf-c8457035a448.gif)

[2020-12-04 15:02] parsaylawyers commented on #302
I have the same error - any help?

[2020-12-04 15:29] Amir-gh121 commented on #302
❗️⚠️ anyone knows the reason behind this??? please 🙏🏻 🆘 🆘 🆘

[2020-12-06 10:22] JewNinja commented on #142
I resolved the problem in the following way:

<pre><code>
let goToTo

// step 3
  {
    selector: '.calendar__create-order-btn',
    content: ({ goTo, inDOM }) => {
      goToTo = goTo
      return (
        <div className="tour-steps__wrap">
          <Space
            direction="vertical"
            align="center"

            <h3>Создайте свой первый заказ</h3>
            <p className="tour-

[2020-12-06 10:31] JewNinja commented on #201
I resolved the problem in the following way:
https://jsfiddle.net/VanMortem/rez3L6o1/ (step 3)

also at the last step I had to create this:
https://jsfiddle.net/VanMortem/rez3L6o1/ (step 4)
https://jsfiddle.net/VanMortem/63hrcfwm/1/

[2020-12-07 08:41] jzsplk opened #314 "updateDelay is defined in `src/propTypes.js` but not used in src code"
`updateDelay` is defined in `src/propTypes.js` but not used in src code

[2020-12-07 08:42] jzsplk commented on #314
![image](https://user-images.githubusercontent.com/19876781/101328576-266a5d00-38ab-11eb-9cb4-179e7caf9edb.png)

[2020-12-09 05:52] jzsplk opened #315 "[Feature] let user can define the range of the mask"
in a use case, we want the mask not to block the whole `window`.
but a part of the screen.
in this case, if we change the SVG size by CSS.
the calculate of the highlight element will be in the wrong place.

[2020-12-13 23:02] acomito commented on #252
I'm also having the same issue.

Although, mine isn't fixed by removing `scroll-behavior: smooth;`

I'm using it in a big project, so getting a reproduction may be tough.

[2020-12-14 01:42] Jopzik commented on #295
Yep, there should be a way to manage observe for node that was injected, @elrumordelaluz

[2020-12-15 04:13] nguyenle0401 opened #317 "Can't close tour on Firefox browers"
I use lastStepNextButton={} to fix this
Example:

[code]

[2020-12-15 09:19] elrumordelaluz commented on #317
Hi @nguyenle0401, thanks for open the _Issue_.

Mind sharing a working [codesandbox](https://codesandbox.io/s/6z56m8x18k?module=%2FApp.js) with the same code you are using above? Thanks!

[2020-12-16 08:55] spyx08 commented on #24
Hey,
got something similar, I'm using reactour in my application, the thing is that some step are triggering router navigation, but I need to focus elements who are loaded async with a promise.
For the moment I put a static timeout but I need something automatic to set the next step once the elements are loaded and on DOM.
I tried to use update and change the value once the elements are loaded but

[2020-12-16 18:35] joeynimu opened #318 "Waiting for the user to take an action before next step"
First and foremost, I'd like to appreciate the work done on this wonderful project. I really like it so far.

I am wondering if there is a way to wait for a user to take some action before the next step. For instance, say the first step shows the user how to search for some data via an input field, is there a way I can wait until they search before showing the next step? How would you recommend ac

[2020-12-17 10:57] elrumordelaluz commented on #24
@spyx08 Mind share a reduced reproduction in a sandbox, in order to try alternatives? thanks!

[2020-12-22 02:55] nguyenle0401 opened #319 "How i can scroll tour when my web so long??"

[2020-12-22 05:39] kylesierens commented on #193
I also find that there could be some better calculations on where to place the card for mobile scenarios. It often seems to default to center, and entirely covers the showcased element. I'd be willing to try and help with this.

[2020-12-25 13:10] #319 closed

[2020-12-26 17:43] danielpox commented on #195
I'm using `react@17.0.1` and seeing errors regarding the usage of `UNSAFE_*`. We're in `reactour@1.18.0` now and it still isn't fixed. When will it shift to hooks?

[2021-01-05 05:22] CaaioSB opened #320 "how use update and updateDelay"
How implant `update` and `updateDelay`?

In one step of my tour the highlighting doesn't work, and so for it to work I need to go forward or back to a stage and then go back to the one I want.
`update` or `updateDelay` can help me?

If I don't understand, I can show it in a visual way.

[2021-01-06 13:50] #320 closed

[2021-01-09 23:53] oowowaee commented on #177
@elrumordelaluz If you look at the code he posted, I believe he is doing it as stated in that comment.  I also followed that original comment to try and get things working with react router, and ended up with the above error leading me to this issue.

[2021-01-10 06:02] ehdwns980416 commented on #175
How did you solve it?

[2021-01-12 18:04] mehdichitforoosh commented on #191
Hi,
I have this problem in 1.18.0 version.
![Screenshot from 2021-01-12 21-31-35](https://user-images.githubusercontent.com/9556642/104354053-e471ae00-551d-11eb-908a-06747c1acad5.jpg)

[2021-01-14 04:44] rohitLuxor opened #321 "Tour is rendering multiple times"
Hi there, I've used react tour on my app as a functional component and used that in my class component through 3 levels. It is now rendering 3-4 times. Can you please tell me how to fix this problem.
1st level: My main page(Class component)
2nd level: Main pages children's component(functional component)
3rd level: Tour component(functional component)

https://user-images.githubusercontent.com/695

[2021-01-25 23:13] tgrassl commented on #260
Hi, any updates on the missing types?

[2021-01-26 00:21] tgrassl commented on #260
I added them to the definitions 😃  [https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50832](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50832)

[2021-01-26 06:49] wsz7777 commented on #129
I use some like context、redux to set state. then ,I can't controlled input?

[2021-01-26 07:11] wsz7777 commented on #129
I use disableFocusLock as true can fix this problem.

[2021-01-27 14:08] korany-lee commented on #302
@andrestigre, I have the same error.

I think this is because of v8.
Here is my reference => https://github.com/microsoft/fluentui/issues/13613

So I removed Strict Mode.

Sorry for not coming up with a more detailed solution.

[2021-02-02 12:44] rdmclin2 commented on #186
+1

[2021-02-02 12:49] rdmclin2 commented on #139
It still moves to target at first pop up.

[2021-02-04 16:01] yairEO commented on #311
Hello? is there anybody out there? `reacttour` is uninstallable for people with React `v17` and this issue is open since November... is this project abandoned?

[2021-02-04 17:56] yairEO opened #322 "Add classname support for a step"
it's trivial to want to style a specific spec (the whole DOM of the step and not just the content),
so allow adding `classname` prop.

I would already go further and ask you to simply use the `...rest` to dump all custom properties (like `classname` as props, which will allow any future prop as well

Also, I would expect the current step container to have some sort of index identifier so it could

[2021-02-06 09:06] drixie opened #323 "App Re-renders every time isOpen state is changed, thereby restarting the tour"
Not sure if anyone else is experiencing this issue. This happens when I use Tour at both top-level and nested components.

[2021-02-09 13:22] elrumordelaluz commented on #323
Hi @drixie, thanks for open the _Issue_.

Mind sharing a reduced reproduction, ideally in a codesandbox.

Thanks,

[2021-02-09 17:15] elrumordelaluz commented on #311
hi @richardantao, thanks for opening the _issue_.
Mind [open a PR](https://twitter.com/wesbos/status/1359173446740172810?s=20) in order to solve this?

thanks!

[2021-02-09 19:53] richardantao commented on #311
PR made!

[2021-02-11 08:19] #311 closed

[2021-02-11 08:19] elrumordelaluz commented on #311
Thank you!

[2021-02-11 20:25] LordA98 commented on #68
For anyone else struggling with the example sandbox posted above or the rather complex-looking `steps` variable (around line 61), I found it easier to do this:

[code]

Essentially, I use a step just to change page.  The content is a generic message that sums up the page and the following step.

This way isn't as feature-rich as the sandbox method above but it's simpler to read & manage (in my opi

[2021-02-11 20:51] LordA98 opened #325 "Improve the Documentation"
Hi,

Reactour is a great package but the documentation (or lack thereof) lets it down.  The 'Usage' section of the README does not provide enough examples or enough context to be helpful.

1. Hardly any of the properties have examples and those that do provide only one very simple example.  The descriptions only describe how those individual properties work.  There is not a lot of context to descr

[2021-02-11 21:27] LordA98 commented on #190
Any help on this?

[2021-02-11 21:55] LordA98 commented on #318
Yeah, also wondering the same thing.  Did you find a solution @joeynimu?

[2021-02-12 16:54] chrisfoster22 opened #326 "aria-label not showing up in DOM using closeButtonAriaLabel"
I'm trying to attach an `aria-label` attribute to the close button using the `accessibilityOptions` object. This doesn't seem to be working. When I look at the demo for `reactour` I'm also not seeing the `aria-label` attribute on the close button. [This PR](https://github.com/elrumordelaluz/reactour/pull/222/files) seems to indicate that the attribute is there by default. I've attached an image of

[2021-02-12 19:18] LordA98 commented on #190
I've come up with somewhat of a solution if anyone else is stuck on this:

[code]

[2021-02-13 17:33] LordA98 commented on #277
Hi,

I noticed this issue was still open.  I was also having the same issue.  I'm not sure when this prop was added, but you can prevent the user closing the tour using this:

`closeWithMask={false}`

So:

[code]

This also means that the user can still close the tour using the close button / cross in the top right.

[2021-02-14 11:25] LordA98 opened #327 "Step Identifiers"
Hi,

Is there a better way to target a specific step, rather than its index in the steps array property?

I use the goTo function in a few steps to change the step based on user interaction.  This is already becoming difficult as I add and change steps - I have to manually re-change all step numbers inside goTo functions.

Is there a way to identify a step based on something else other than its in

[2021-02-14 12:39] tgrassl commented on #260
@elrumordelaluz the types are now merged. This issue can be closed 👍

[2021-02-15 17:05] elrumordelaluz commented on #260
Awesome, thank you @tgrassl!

[2021-02-15 17:05] #260 closed

[2021-02-15 20:44] JoshuaeKaiser opened #328 "Can selectors be specified for dom objects that are outside an iframe"
Can selectors be specified for dom objects that are outside an iframe?

Unsure what the lib is doing under the hood, but can we specify the document object that the selector code in run on so that I could for example run the tour code in an iframe but target elements that are outside in on the parent document (same origin policy allowing of course)

[2021-02-16 02:29] ml-currenxie commented on #190
Thanks @LordA98 for the workaround. I used something similar to tackle the issue I was facing. I wanted to wait for a modal to open before firing the selector. My method was a bit different though, leaving it here for the next one that comes looking:

[code]

[2021-02-19 22:18] seschwartz8 commented on #185
@elrumordelaluz

A possible solution is to have a flag to disable focuslock. Let me investigate and feel absolutely free to open a PR.

#234

[2021-02-20 16:36] LordA98 commented on #325
To add to that, not all functionality is even in the documentation.

For example, looking at the `index.d.ts` file, there are two other parameters that you can pass to `content` on top of the `goTo` and `inDOM` parameters:

[code]

`close` and `step` are both not mentioned in the README documentation at all.

[2021-02-20 16:49] LordA98 commented on #327
Turns out the `content` property provides a `step` parameter as well as the `goTo` and `inDOM` parameters (it just isn't documented at the moment).

This makes it easier to change to the next step, which is my primary use case for `goTo`.

For more complicated solutions, I added a custom `identifier` property to each step.  I access this information using something like `steps[step].identifier` in

[2021-02-20 16:49] #327 closed

[2021-02-20 22:47] yairEO commented on #163
Autho - please fix this ASAP as complex media queries can hide some elements or completely remove elements and all this is for responsive design where different viewport sizes show different elements, which is something very basic in the web

[2021-02-21 09:11] yairEO commented on #163
Ok people, I've created a filter myself for non-existing selectors (only for steps' `selector` properties which aren't empty)

[code]

[2021-02-22 13:20] woutvanneste99 commented on #113
Hello, is there any news on this? Or any alternative to be able to have multiple element in the same step?

thx

[2021-02-25 20:44] RonLek opened #330 "[BUG] Inconsitent behavior with Material UI Menus"
On having Tour focus on a MenuItem within a [Menu](https://material-ui.com/components/menus/#menus), even though the shape of the highlighted area comes out to be correct but it becomes mispositoned. On moving to the next step (or pressing the left/right arrow keys in case of a single step) the highlighted area becomes correct.

Here's a CodeSandbox I created - https://codesandbox.io/s/competent-p

[2021-02-25 20:44] RonLek commented on #330
@elrumordelaluz am I missing something? Could you please take a look?

[2021-03-02 11:57] elrumordelaluz commented on #330
Hi @RonLek, thanks for open the _Issue_.

As I see the Material UI [Menu](https://material-ui.com/api/menu/) has a transition when opening and due to this, probably the _Tour_ is opening before the _Menu_ gets its last position, making calculations for the `step` wrong.

I can get working passing the `setCommunityTourOpen` into `onEnter` Menu's prop, something like:

[code]
[Here is the working sa

[2021-03-02 13:07] RonLek commented on #330
That's awesome! I didn't think the transition was creating a problem. I thought it was more because I wasn't using `oberve` the right way. Thanks @elrumordelaluz!

[2021-03-02 13:07] #330 closed

[2021-03-03 05:59] vytch opened #331 "Shadowdom support"
Would it be ok to have shadowdom support?

[2021-03-05 15:15] joanargarrido commented on #296
Same problem in iOs 14.4. @elrumordelaluz Can you please check it?

[2021-03-06 17:13] utkarsh22garg commented on #288
Any updates here ?

[2021-03-08 14:19] elrumordelaluz commented on #288
Hi @utkarsh22garg, I'm sorry for the late reply.
Should be fixed in `v1.18.2`.

Feel free to re-open in any case.

[2021-03-08 14:19] #288 closed

[2021-03-09 12:09] Victor-Lindh opened #333 "Tour pushing page content to the left"
Hello! I followed the steps stated in the "Usage" part at https://www.npmjs.com/package/reactour.
I managed to render the Tour component as I wish, but with the side effect that all of my page content somehow got pushed to the left of the screen (I inserted the Tour at the end of the page. Should I wrap it around the whole App component instead? Seemed to work fine in the example without wrapping

[2021-03-09 15:12] #333 closed

[2021-03-09 18:24] chrisfoster22 commented on #87
@elrumordelaluz I've tried the above code per the documentation and at least the `min-width` doesn't get overridden without an `!important` tag. Is this expected?

[2021-03-10 09:18] elrumordelaluz commented on #87
I have the override value without `!important` here
<img width="1141" alt="Screenshot 2021-03-10 at 10 16 30" src="https://user-images.githubusercontent.com/784056/110605829-d04ad580-8189-11eb-81e5-a3512ffa8928.png">

[2021-03-12 19:28] nypinstripes opened #334 "Changelog for 1.18.3"
Hello @elrumordelaluz ,

We started using reactour widely in our repo in recent months and have made several workarounds to achieve different tasks based on the 1.18.1 readme documentation. I'm a little nervous about upgrading to 1.18.3 without a changelog or updated readme docs. Will there be a changelog, release notes or an updated readme for 1.18.3? I'm also anxious and excited to use the new f

[2021-03-21 18:27] kylekirkby commented on #325
@LordA98 I think there needs to be some delegation of ownership of this project. @elrumordelaluz

[2021-03-23 20:38] GiancarlosIO commented on #113
👀

[2021-04-01 00:24] Emiltayeb commented on #318
exactly what im tring to accomplish.
has anyone figure it out?

[2021-04-14 14:51] LordA98 commented on #263
Hey @lutaalbert, did you find a solution to this?

I'm experiencing something similar now.

[2021-04-14 19:25] jcoelh0 commented on #113
👀

[2021-04-14 20:31] LordA98 commented on #296
Also happening on my iPhone XR iOS v14.4.2.  I also tested on a Samsung A5 Android v8.0.0 and I did not get this issue.

Did anyone find a temporary fix for this? @Cyral @haxxxton @joanargarrido

[2021-04-14 20:59] LordA98 opened #338 "How to handle Mobile Keyboard when an input is selected"
Hi,

I'm trying to make my tour more mobile friendly.

One issue I am facing is this:

When a step that involves a text input is started, the tour popup or _Helper_ (I think this is what it's called) navigates to the input via it's _selector_.  When the input is clicked or tapped, the keyboard rises from the bottom of the screen.

This is where the problem occurs - on smaller devices, the now on-s

[2021-04-15 14:47] bmoffitt1990 opened #339 "updateUser mutation doesnt update hasTakenTour"

[2021-04-15 14:48] #339 closed

[2021-04-15 14:48] bmoffitt1990 commented on #339
Sorry, this was supposed to be in a personal repo. Too many tabs.

[2021-04-16 09:03] elrumordelaluz commented on #296
I now can replicate on iOS 14.4.2, investigating.

[2021-04-16 09:05] elrumordelaluz commented on #338
Hi @LordA98, thanks for open the _Issue_.

Pretty interesting what you are describing. Mind create a small reproduction in a sandbox, in order to try and debug it? or at list share a screenshot of the result? thanks

[2021-04-16 21:17] bermann commented on #313
is there any news on this?

[2021-04-17 20:04] yairEO opened #340 "RTL support"
Please add a prop for `rtl` mode, so when `direction:rtl` is applied, the navigation buttons won't need to be rotated via CSS.

Also please flip the arrows' callbacks, so in `rtl` the "next" step should be binded to the *left* arrow and *right arrow should go to previous step.

Thanks! :)

[2021-04-17 23:46] sreimer15 commented on #286
I'm getting the invalid hook call error when using with nextjs and dynamic imports. I've isolated to this component. Does anyone know if anything has changed?

Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You m

[2021-04-21 22:01] Ehsan-Home commented on #175
I am getting the same error. Anyone has any idea how to resolve it?
Thanks.

[2021-04-23 00:30] asile12 commented on #188
Hi, any update on this?

[2021-04-23 11:03] elrumordelaluz commented on #175
weird, is `styled-components` installed?

[code]

[2021-04-28 15:12] Tpuljak commented on #318
I was stuck on this problem for a couple of hours also.

The solution for me was to add
[code]
to the Tour component.

That will enable interaction with the input field that is currently highlighted.

To change the step you need to add an event listener to the input component that will update the state that tracks the step.

For example:
Input A is highlighted as the step 1.

[code]

[2021-04-30 22:53] Ehsan-Home commented on #175
No its not installed.
I know by installing styled-component, the issue gets resolved. However, my question is why we need to install styled-components?

Thanks in advanced 👍🏻

[2021-05-02 14:37] elrumordelaluz commented on #175
`styled-components` is a [peerDependency](https://github.com/elrumordelaluz/reactour/blob/master/package.json#L81) of this project, having the role of make all the css calculations and styling.

[2021-05-12 09:10] yingying96 opened #344 "Change the size of the popup box"
Hi Team,

May i know how do we change the size of this box?

![image](https://user-images.githubusercontent.com/19566726/117949715-fdac2f00-b344-11eb-9fe7-ff4daf1f7b56.png)

[2021-05-12 16:06] elrumordelaluz commented on #344
Hi @yingying96, thanks for open the _Issue_.

You could stylize through the [className](https://github.com/elrumordelaluz/reactour#classname)

[2021-05-13 16:16] Danjosh0211 commented on #344
I had the same issue when attempting to fill a lot of the screen with a gif style tutorial. I gave the helper a className and set it when i needed to:
`className={largeBox ? "reactour_helper_large" : ""}`

`
.reactour_helper_large{
  max-width: 70% !important;
  transform: translate(20%, 10%) !important;
}
`

[2021-05-14 07:43] yingying96 commented on #344
Thanks for helping to check. Do you think it's wise to do something like this? Use className=".jcRswH"

[code]

![image](https://user-images.githubusercontent.com/19566726/118238440-1a726f00-b4cb-11eb-8785-c1c561a7013a.png)

[2021-05-18 01:59] yingying96 commented on #344
Yup works for me. Thanks alot for the example!

[2021-05-18 01:59] #344 closed

[2021-05-19 15:32] gvargash opened #345 "got to step"
how to go to a specific step when opening the tour?

[2021-05-19 17:45] gvargash opened #346 "Enable interaction in inputs"
![image](https://user-images.githubusercontent.com/24488771/118859406-cf2bd800-b89f-11eb-8964-824446fb519a.png)

How could I enable interaction on that input with the active tour. Is that possible?

[2021-05-21 13:30] elrumordelaluz commented on #346
Hi @gvargash, thanks for open the _Issue_.

Try adding `disableFocusLock`. In next versions this will be improved as well as the docs.

[2021-05-21 13:30] #346 closed

[2021-05-21 13:33] elrumordelaluz commented on #345
@gvargash use [startAt](https://github.com/elrumordelaluz/reactour#startat)

[code]

Closing but feel free to re-open in any case.

[2021-05-21 13:33] #345 closed

[2021-05-27 22:53] edwindelbosque commented on #188
same here..

[2021-05-31 17:43] DavidQuartz commented on #195
This issue is still not fixed in ```reactour@1.18.4```

[2021-06-09 08:05] suryacris7 commented on #77
Hi , regarding the action prop , how am is supposed to handle the State Updates
{
    selector: 'toggle_switch',
    content: `hi hello`,
   action:()=>{ this.setState({toggle : true}) }
  },

  Here is my snippet and i want to make my toggle on for this step and also i need to reset all of the state updates either if tour finishes or the user exits the tour

[2021-06-09 08:07] suryacris7 opened #352 "State Updates in Reactour"
Hi , regarding the action prop , how am i supposed to handle the State Updates in here
{
selector: 'toggle_switch',
content: hi hello,
action:()=>{ this.setState({toggle : true}) }
},

Here is my snippet and its executing in an infinite loop ( which is obvious ) and also i want to make my toggle on for this step and also i need to reset all of the state updates either if tour finishes or the user

[2021-06-09 09:32] elrumordelaluz commented on #352
Hi @suryacris7, thanks for open the _Issue_.

Mind creating a minimal reproduction in a sandbox in order to invertigate further? Thanks!

[2021-06-11 12:33] eduardobalbo opened #353 "Update on development status and usage"
Hello everybody,

I'm using this library and been enjoying it so far, but i couldnt help but notice that the rate of the implementation of new features has slowed down and seems that the issues are increasing a lot.
For my actual project and team, a tour is a must have feature, and i'm choosing **_reactour_** over other libraries because the usage is way more practical and cleaner than many of the

[2021-06-30 10:50] Rahulkr204 commented on #188
Any way we can implement this?

[2021-07-01 17:39] christiantigre opened #355 "How to avoid closing the tour when clicking outside the tour?"
I have the problem that users click outside the toru and the tour closes, I need it to stay open when clicking outside the tour.
this is my code tour.

![image](https://user-images.githubusercontent.com/17419095/124167171-5ce70f80-da69-11eb-8bec-5b50bd19f7d3.png)

[2021-07-02 13:23] elrumordelaluz commented on #355
Hi @christiantigre, thanks for open the _Issue_.

Try [closewithmask](https://github.com/elrumordelaluz/reactour#closewithmask) set to `false`.

[2021-07-02 13:23] #355 closed

[2021-07-02 13:25] elrumordelaluz commented on #77
@suryacris7 can you share a code snippet or better a sandbox with a reproduction, please?

[2021-07-06 14:15] rhasselle commented on #326
I'm also still seeing this issue in 1.18.4
`aria-label` is not applied to the close button when specifying `closeButtonAriaLabel` in the `accessibilityOptions`.

Interestingly, if you manually build the `/dist` folder using `rollup` provided in the source files, the issue gets fixed, however this isn't a great solution because every time you install or update the npm, it will get overwritten by th

[2021-07-07 08:09] elrumordelaluz commented on #326
Thank you @chrisfoster22 and @rhasselle to pointing this, should be fixed on `v1.18.5`.

[2021-07-07 08:09] #326 closed

[2021-07-10 17:03] #185 closed

[2021-07-12 13:10] sean-daley opened #356 "Potential unnecessary console.log introduced in 1.18.5?"
Starting with 1.18.5 we are seeing a lot of console.logs being generated by reactour.
It looks like this was added as part of https://github.com/elrumordelaluz/reactour/commit/2d07bb6071e7523e7fbe44c899c1276024c9a8e5 to src/components/Guide.js

Not sure if it was intentional or not but it looks kind of weird.
Thanks.

[2021-07-12 14:06] elrumordelaluz commented on #356
Thank you @sean-daley to report this, absolutely not intentional, I'm sorry for this.
Should be fixed in `reactour@1.18.6`.

Thanks again!

[2021-07-12 14:06] #356 closed

[2021-07-20 10:19] caboddie1 commented on #190
I also ran into this issue. This might be useful for someone else having this issue. My workaround was to mimic the bootstrap modal with the container of the icon used to open the modal. The tour highlights the icon and then an action opens the modal. I add a class to the container when the modal is open, this moves the tour text box to the side.

step:
[code]

jsx:

[code]

css:

[code]

[2021-07-22 16:50] christiantigre opened #357 "Is it possible to drag a step?"
I need to drag from left to right on the screen, it is possible?

[2021-07-22 20:11] bianchi commented on #302
Same here

[2021-07-23 09:21] elrumordelaluz commented on #357
Hi @christiantigre, thanks for open the _Issue_.

Sounds like an absolutely awesome _feature request_.

[2021-07-28 21:11] eric-willits commented on #110
@volkandkaya did you end up finding a fix for that?  im trying to do the same thing in my app...

[2021-07-29 06:37] developdeez commented on #110
No I stopped using the package

On Wed, Jul 28, 2021, 2:11 PM eric-willits ***@***.***> wrote:

[2021-08-03 12:26] tomsnep commented on #307
Would be really nice indeed!

[2021-08-03 19:08] gusazevedo opened #358 "className prop not working"
The className prop are no working unless I use **!important**
[code]
[code]

![image](https://user-images.githubusercontent.com/26143209/128072277-e0d6d10b-d364-49b2-906e-822c24fc0bd3.png)

[2021-08-05 18:54] utazabanje commented on #313
I know this thread is old, but in my case, I had on my <html> tag `scroll-behavior: smooth`. Once I removed it, this problem disappeared.

[2021-08-07 22:37] kepamuk opened #359 "can i resize the window of the selected item as i want?"
can i resize the window of the selected item as i want? let's say I still need to grab the bottom element, but I don't want to combine these two elements into one block

[2021-08-21 15:19] #5 closed

[2021-08-24 12:45] elrumordelaluz commented on #359
Hi @kepamuk, thanks for open the _Issue_.

Could you please expand a little more the issue, in order to understand at all how to solve it.

Thanks,

[2021-08-24 12:46] #9 closed

[2021-08-24 13:33] #30 closed

[2021-08-24 13:34] #32 closed

[2021-08-24 13:35] #33 closed

[2021-08-24 13:35] #53 closed

[2021-08-24 13:36] #56 closed

[2021-08-24 13:57] #65 closed

[2021-08-24 13:57] #66 closed

[2021-08-24 13:57] #68 closed

[2021-08-24 13:58] #74 closed

[2021-08-24 14:23] #78 closed

[2021-08-24 14:24] #80 closed

[2021-08-24 14:25] #86 closed

[2021-08-24 14:26] #98 closed

[2021-08-24 14:26] #246 closed

[2021-08-24 14:27] #132 closed

[2021-08-24 14:27] #100 closed

[2021-08-25 13:26] #101 closed

[2021-08-25 13:27] #107 closed

[2021-08-25 13:27] #110 closed

[2021-08-25 13:28] #123 closed

[2021-08-25 13:29] #143 closed

[2021-08-25 13:29] #149 closed

[2021-08-28 04:37] ShaileshParmar-WebDeveloper commented on #358
try to give `!important` to all the values in class

[2021-08-28 10:13] elrumordelaluz commented on #358
Hi @gusazevedo, thanks for open the _Issue_.

Could you please share a sandbox in order to understand why is needed to be more specific using the css className.

Just in case you need to be higher in specificity you could do something like:

[code]

[2021-08-28 13:22] farrukhayazqazi commented on #230
@elrumordelaluz any updates on the issue?

[2021-08-30 05:23] farrukhayazqazi commented on #301
@siemano1 could you please elaborate with some example?

[2021-08-30 07:09] #301 closed

[2021-08-30 07:33] farrukhayazqazi opened #361 "how to disable nextButton on a specific step"
how to disable or hide the next button on a specific step

[2021-08-30 07:47] #361 closed

[2021-08-31 10:31] #307 closed

[2021-08-31 10:32] #302 closed

[2021-08-31 10:32] #352 closed

[2021-08-31 10:34] #286 closed

[2021-08-31 10:57] #340 closed

[2021-09-02 09:38] designbyadrian commented on #246
I think styled-components are creating Content Security Policy issues in my progress web app (iOS). I'd prefer if neither was a dependency.

[2021-09-06 09:33] #358 closed

[2021-09-06 09:36] elrumordelaluz commented on #353
Hey @eduardobalbo, **new v2 version** released under scoped `@rectour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 09:36] #353 closed

[2021-09-06 09:36] elrumordelaluz commented on #334
Hey @nypinstripes, **new v2 version** released under scoped `@rectour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 09:36] #334 closed

[2021-09-06 09:38] elrumordelaluz commented on #331
Hi @vytch could you please try this specific request using the **new v2 version** released under scoped `@rectour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 09:38] #331 closed

[2021-09-06 09:39] elrumordelaluz commented on #325
Hi all, this should be solved in the **new v2 version** released under scoped `@rectour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 09:39] #325 closed

[2021-09-06 09:39] #314 closed

[2021-09-06 12:10] elrumordelaluz commented on #340
This is now available in **new v2 version** released under scoped `@rectour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 12:12] elrumordelaluz commented on #230
Separated _Mask_ and _Popover_ spaces are now available in **new v2 version** released under scoped `@rectour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 12:12] #230 closed

[2021-09-06 12:15] #317 closed

[2021-09-06 12:16] elrumordelaluz commented on #315
This is now easily doable in **new v2 version** released under scoped `@rectour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 12:16] #315 closed

[2021-09-06 12:17] #309 closed

[2021-09-06 12:18] elrumordelaluz commented on #304
This is now applied in in **new v2 version** released under scoped `@rectour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 12:18] #304 closed

[2021-09-06 12:19] elrumordelaluz commented on #295
Please take a look into **new v2 version** released under scoped `@rectour` package name, try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 12:19] #295 closed

[2021-09-06 12:21] elrumordelaluz commented on #281
Please take a look into `useTour` hook in the **new v2 version** released under scoped `@rectour` package name, try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 12:21] #281 closed

[2021-09-06 12:22] #280 closed

[2021-09-06 12:24] elrumordelaluz commented on #277
Please take a look into [onClickMask](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#onclickmask-clickprops-clickprops--void) of **new v2 version** released under scoped `@rectour` package name,  try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 12:24] #277 closed

[2021-09-06 12:27] elrumordelaluz commented on #113
Plase try [highlightedSelectors](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#highlightedselectors-string) step prop in **new v2 version** released under scoped `@rectour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 12:27] #113 closed

[2021-09-06 12:28] elrumordelaluz commented on #296
Please try **new v2 version** released under scoped `@rectour` package name `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 12:28] #296 closed

[2021-09-06 12:46] elrumordelaluz commented on #313
This should be solved in `v2`. Every feedback super welcome, thanks!

[2021-09-06 12:46] #313 closed

[2021-09-06 14:05] elrumordelaluz commented on #190
_Modals_ and other situations are finally handled on **new v2 version** released under scoped `@reactour` package name, please try `npm i @reactour/tour`. Here are some examples:

- [Using React Modal](https://codesandbox.io/s/reactour-tour-demo-using-react-modal-8v0eo)
- [Using Semantic UI Modal](https://codesandbox.io/s/reactour-tour-demo-using-semantic-ui-modal-xmqee)
- [Using React Bootstrap M

[2021-09-06 14:05] #190 closed

[2021-09-06 14:07] elrumordelaluz commented on #340
demo https://reactour.vercel.app/#rtl

[2021-09-06 14:08] elrumordelaluz commented on #318
This is now available in **new v2 version** released under scoped `@reactour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thanks!

[2021-09-06 14:08] #318 closed

[2021-09-06 14:09] elrumordelaluz commented on #283
**v2** released under scoped `@rectour` package name, please try `npm i @reactour/tour`. Every feedback super welcome, thank you all!

[2021-09-06 14:09] #283 closed

[2021-09-06 14:10] #271 closed

[2021-09-06 20:58] elrumordelaluz commented on #318
demo https://reactour.vercel.app/#disable-actions

[2021-09-06 20:59] #259 closed

[2021-09-06 21:02] #255 closed

[2021-09-07 12:01] elrumordelaluz commented on #156
Emotion is now used by `v2`, try `npm i @reactour/tour` and refer to docs [here](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour)

[2021-09-07 12:01] #156 closed

[2021-09-07 12:01] #161 closed

[2021-09-07 12:02] #22 closed

[2021-09-07 12:03] elrumordelaluz commented on #150
closing, since is doable in `v2`. [Docs](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour)

[2021-09-07 12:03] #150 closed

[2021-09-07 12:03] #157 closed

[2021-09-07 12:04] #162 closed

[2021-09-07 14:42] #163 closed

[2021-09-07 14:42] #165 closed

[2021-09-07 14:43] #250 closed

[2021-09-07 14:43] #244 closed

[2021-09-08 12:39] elrumordelaluz commented on #233
_Modals_ and other situations are finally handled on **new v2 version** released under scoped `@reactour` package name, please try `npm i @reactour/tour`. Here are some examples:

- [Using React Modal](https://codesandbox.io/s/reactour-tour-demo-using-react-modal-8v0eo)
- [Using Semantic UI Modal](https://codesandbox.io/s/reactour-tour-demo-using-semantic-ui-modal-xmqee)
- [Using React Bootstrap M

[2021-09-08 12:39] #233 closed

[2021-09-08 12:39] #227 closed

[2021-09-08 12:40] #209 closed

[2021-09-08 12:42] elrumordelaluz commented on #177
_React Router_ is better handled on **new v2 version** released under scoped `@reactour` package name, please try `npm i @reactour/tour`. [Here is a sandbox example](https://codesandbox.io/s/reactour-tour-demo-using-react-router-dom-kujql). Every feedback super welcome, thanks!

[2021-09-08 12:42] #177 closed

[2021-09-08 12:42] #252 closed

[2021-09-09 01:08] RXminuS opened #365 "Incorrect package.json module"
I was getting an error in Vite that the package.json has incorrect modules set. They are currently `dist/reactour-tour.esm.js` which doesn't exist. The correct file should be `dist/tour.esm.js` and similarly for the other packages.

[2021-09-09 06:27] elrumordelaluz commented on #365
Hi @RXminuS, thanks for open the _Issue_.

Could you please share a little more information, like the version and context or some screenshots or better a minimal reproduction or a sandbox. As shown [here](https://github.com/elrumordelaluz/reactour/blob/master/packages/tour/package.json#L31) the file is correct.

Thanks in advance,

[2021-09-09 06:37] elrumordelaluz commented on #218
Now should work in `v2`(`npm i @reactour/tour`) which uses native scrolling behavior) [demo](https://codesandbox.io/s/reactour-demo-template-live-forked-gql0i?file=/steps.js)

[2021-09-09 06:37] #218 closed

[2021-09-10 07:50] elrumordelaluz commented on #357
@christiantigre just to clarify, are you talking about dragging the _Popover_? Thanks,

[2021-09-10 15:19] virinchi-manepalli-trysolvio opened #366 "how to change of overlay of background , using maskClassName?"
can you tell an example of how to change the color of the background? , I didn't understand how to pass color to maskClassName
I want the background to be transparent  same as demo

![image](https://user-images.githubusercontent.com/78961690/132876923-aa9d5a6c-b1c3-46a9-8e67-60834d8edb13.png)

[2021-09-10 16:27] virinchi-manepalli-trysolvio opened #367 "i have sidemenu bar which has library , settings , home etc , is it wrong to use data-tut inside map function? its coming out of the focus"
![image](https://user-images.githubusercontent.com/78961690/132886040-b14a30b5-4a62-400c-949d-22d00afd4f03.png)

const navigation = [
  {
    name: "Library",
    href: "/library",
    as: "/library",
    icon: LibraryIcon,
    current: false,
    tourGuide: "reactour__library",
  },

  {
    name: "settings",
    href: "/settings",
    as: "/settings",
    icon: LibraryIcon,
    current: false,

[2021-09-10 16:29] elrumordelaluz commented on #366
Hi @virinchi-manepalli-trysolvio, thanks for open the _Issue_.

What version are you using?

[2021-09-10 16:32] elrumordelaluz commented on #367
If I understand well, you ca use any CSS selector you want for the steps, like `data-*` or `.step` or `#step`.

In any case try creating a minimal reproduction if the problem persist and feel free to re-open the _issue_.

[2021-09-10 16:32] #367 closed

[2021-09-10 18:55] fostimus opened #368 "firstStepPrevButton"
There is a `lastStepNextButton` for the last step's next button. It would be nice to have a native prop to control the first step's previous button in the same way.

[2021-09-10 19:08] elrumordelaluz commented on #368
Hi @fostimus, thanks for open the _Issue_.

In `@reactour/tour@2.0.0` you have full control over [prevButton](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#prevbutton-props-btnfnprops--void) and [nextButton](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#nextbutton-props-btnfnprops--void).

[2021-09-10 19:15] #273 closed

[2021-09-10 19:16] #275 closed

[2021-09-11 04:20] virinchi-manepalli-trysolvio commented on #366
the latest version only >16.8version (hooks).
I m using this in nextjs,
I have a question is this library supports the latest version of react and next js?

btw Thanks for the very quick reply :)

[2021-09-11 12:10] elrumordelaluz commented on #366
The version `v2` is now under `@reactour/tour`, and supports all the latest versions. [Here the docs](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour) and [here a demo customizing styles](https://reactour.vercel.app/#styles)

[2021-09-14 07:55] tpettrov opened #369 "Masking DOM Elements doesn't work on Safari, Chrome"
Go [here](https://reactour.vercel.app/#mask) via Chrome (win or mac) or Safari. Click 'Open Mask to Highlight Box' and see that the highlight is not there.
Chrome - Version 93.0.4577.63 (Official Build) (64-bit)

[2021-09-14 08:11] elrumordelaluz commented on #369
Hi @tpettrov, thanks for open the _Issue_.

Seems to be an issue with the _draggable_ element when mount. Try first _Switch to Highlight Paragraph_, then _Open Mask_. The next time you switch again to the draggable element will work.

Will put an eye asap to fix it.
Thanks!

[2021-09-14 13:43] tpettrov commented on #369
Hi @elrumordelaluz, it doesn't matter. In the other examples the mask is working but for this - never.
![image](https://user-images.githubusercontent.com/19412905/133267831-158ddfe8-4f06-45d9-86ff-c537a9d6440a.png)

[2021-09-14 14:02] elrumordelaluz commented on #369
weir, on my end (osx) work in Chrome and Safari with the mounting calculations trick. Will investigate.
![tour-mask-issue](https://user-images.githubusercontent.com/784056/133271988-cf2d24df-57b0-44fe-8672-b943226f4099.gif)

[2021-09-14 17:38] #369 closed

[2021-09-14 17:40] elrumordelaluz commented on #369
Should be solved now, thank you @tpettrov for pointing this out!

[2021-09-14 21:15] fostimus commented on #113
@elrumordelaluz is there a way to use `highlightedSelectors` in a class based component? v2 seems to favor hooks, which I can't use.

[2021-09-14 22:58] fostimus opened #370 "badgeContent in 2.0 not working"
[code]

<img width="824" alt="Screen Shot 2021-09-14 at 3 57 29 PM" src="https://user-images.githubusercontent.com/8053880/133344592-4c0b674b-0970-4ecf-9f12-aeae78bf873a.png">

[2021-09-14 23:04] #370 closed

[2021-09-15 08:47] elrumordelaluz commented on #113
hi @fostimus, you mean something like the following code?

[code]

[2021-09-15 10:45] tpettrov commented on #369
Sorry but it's not solved. I don't have time to investigate and will probably use the current version in npm (1.18.6).

[2021-09-15 12:15] elrumordelaluz commented on #369
Sure, use the version fit with you. Are you having issues using the package and more specifically using `@reactour/mask` or just found the issue in the demos?

[2021-09-15 17:10] virinchi-manepalli-trysolvio commented on #366
![Screenshot (433)](https://user-images.githubusercontent.com/78961690/133478583-043c6408-0394-4e8d-82b6-3216e8aff4b1.png)

Thanks @elrumordelaluz   now I m able to customize overlay.
but I don't know why my mask position is  misplacing, could please tell how to fix this issue? i m wrapping selector correctly

[2021-09-15 18:11] fostimus commented on #113
hi @elrumordelaluz, that does work - realized after I asked that `highlightedSelectors` is in 1.18.0 so I'm using that version. Our codebase still relies heavily on class based components, so 2.0.0 won't work for us.

[2021-09-15 18:12] fostimus commented on #113
One question on `highlightedSelectors`, does it only highlight by union? Is it possible to highlight separately, so 2 different/disjoint areas are highlighted?

[2021-09-15 19:16] elrumordelaluz commented on #113
I'm sorry, but happy that v1.x works for you!

Not now, it should be making more calculations to customize the _Mask_ with more complexity.

Leaving here as *feature request*: custom _Mask_ with multiple "holes" for different ´elements´.

[2021-09-15 19:18] elrumordelaluz commented on #366
@virinchi-manepalli-trysolvio could you please share the ´styles´ object?

[2021-09-15 19:24] IgnusG commented on #369
Hey @elrumordelaluz, I seem to be having a similar issue, this is how it looks like when I open the mask:

![image](https://user-images.githubusercontent.com/6438760/133496527-a6ff93f6-dd27-441f-a828-7192efe3e38a.png)

In the dev tools are several rects mounted. I just tried removing one and when I remove the middle one, the mask seems to work again - properly showing and element is draggable (mas

[2021-09-16 06:54] elrumordelaluz commented on #369
Thank you for investigating @IgnusG.

The case is pretty weird since on my end, using the same browser and version, seems to work as expected (fixed the paragraph issue that I broken on the last commit).

Removing this one you shouldn't close the _Mask_ clicking on it.

Are you both also on OSX?

[2021-09-16 10:06] IgnusG commented on #369
I'm running it on windows. Seems like it might be the clip property not working. I saw you use the mask property on the other rects. Is there a reason you don't use it for the cover too? If I replace `clip: polygon...` with `mask: url(#tour__mask)` it seems to work

[2021-09-16 12:48] elrumordelaluz commented on #369
Thank you again for the suggestion, you probably noted that switching the `clip-path` into `mask` wouldn't allow anymore to drag or interact with the element _clipped_. The solution should be to fallback to svg attribute instead of css.

The reason of `css` is to allow customize, through `styles`.

[2021-09-16 13:16] elrumordelaluz commented on #369
@IgnusG could you please try now, which is using a new approach?

Thanks,

[2021-09-16 13:19] IgnusG commented on #369
That seems to have worked!

Btw. I've played around with the numbers and I think this is a scaling problem with Windows (I have scale set to 250% since I have a 4K display).

![image](https://user-images.githubusercontent.com/6438760/133619342-34752816-2790-4880-b5f0-b6dbe75ccf08.png)

And dividing the coordinates by 2.5 seems to do the trick. I've also tried calculating the polygon with percentag

[2021-09-16 13:53] elrumordelaluz commented on #369
Cool, will try also on mac scaling also.

Thanks again!

[2021-09-18 05:21] virinchimanepalli commented on #366
sure @elrumordelaluz
![Screenshot (440)](https://user-images.githubusercontent.com/50209716/133873737-dfc78723-d61c-4616-9473-549a115e51cd.png)

[2021-09-18 05:46] virinchimanepalli commented on #366
also, I m trying to get a walkthrough for the list of items in the sidebar.
![Screenshot (443)](https://user-images.githubusercontent.com/50209716/133874553-0e63e77f-12da-4261-ab22-d376de3aed13.png)

 I m mapping the list of items child component for displaying data in the above manner.
the problem is I want to get a walkthrough for each item in the side menu .

![Screenshot (441)](https://user-im

[2021-09-19 04:54] wbolduc opened #371 "callback called twice when step has target:"body", placement:"center""
https://codesandbox.io/s/amazing-fermi-en5xo?file=/src/Tour.js

This is a fork of the demo branch with a simple reproduction.
Notice the inclusion of Tour.js

I'm not totally sure if this has anything todo with this being controlled.

The tour should start automatically and walk you through the bug

This callback being called twice makes it hard to call imperative code during a step and for this u

[2021-09-19 12:58] elrumordelaluz commented on #371
Hi @wbolduc in this demo you are using `react-joyride`. Probably you have to open this _Issue_ in that repo.

Feel free to re-open in any case.

[2021-09-19 12:58] #371 closed

[2021-09-19 20:18] wbolduc commented on #371
My bad, I'm shopping around tour libraries and I didn't realize I had posted the comment in the wrong tab 🤦

Feel free to delete the heck out of this

[2021-09-20 07:15] elrumordelaluz commented on #371
No problem at all!

[2021-09-20 08:38] djaffer opened #372 "How to resize the highlight ?"
How do I resize the highlight. I am using the reactour without provider

![image](https://user-images.githubusercontent.com/5740725/133975567-5764df86-39f2-420a-a46f-8ae75b622c9a.png)

[code]

[2021-09-20 12:25] elrumordelaluz commented on #372
Hi @djaffer, thanks for open the _Issue_.

Did you tried [maskSpace](https://github.com/elrumordelaluz/reactour/tree/v1#maskspace)?

[2021-09-20 12:29] elrumordelaluz commented on #366
The position of the _Mask_ should be controlled by the `selector` of this specific step.

Mind creating a minimal reproduction in a sandbox?

Thanksn

[2021-09-20 13:14] elrumordelaluz commented on #368
Closing but feel free to re-open in any case.

[2021-09-20 13:14] #368 closed

[2021-09-21 05:11] farrukhayazqazi commented on #263
@elrumordelaluz any updates?

[2021-09-21 16:10] RickGove opened #374 "Typo on Mask README.md"
I think there is a typo on the yarn add line of code here:

yarn add @**reacmask**/mask

[2021-09-21 16:51] #374 closed

[2021-09-21 16:51] elrumordelaluz commented on #374
yup, thank you!

[2021-09-22 09:18] viewerw opened #375 "@types/reactour need update"

[2021-09-22 12:07] elrumordelaluz commented on #375
PR super welcome!

[2021-09-22 12:48] JCLimpide commented on #113
Just leaving a comment for @fostimus or others who are using class component.

I didn't test the highlighting itself, but I wrote a small workaround:  a Higher-order-component, allowing to use all the tour hooks in class components.
The code is fairly simple:

[code]

[2021-09-22 12:57] elrumordelaluz commented on #113
@JCLimpide cool! mind make a PR exporting also `withTour` from the lib?

[2021-09-22 13:45] ivankuziukfpwd opened #376 "Fix problem with UNSAFE_componentWillReceiveProps"
I have a problem with UNSAFE_componentWillReceiveProps, after implementation Tour component, a have a warning in console

[code]

Please fix this problem as recommended React: https://reactjs.org/docs/react-component.html#unsafe_componentwillreceiveprops

[2021-09-22 14:52] DevBGarcia opened #377 "Styling Popover Navigation Arrows."
Just started using this package a few days ago and want to increase the size of the arrow SVG via height & width.

The styles.d.ts  file looks to hold the key for 'arrow' but i can't seem to update it :( Please let me know if i'm doing something wrong.

styles.d.ts
[code]

---

Styles Object in the App im updating:
[code]

The `maskWrapper` and `popover` component keys seem to work just fine, but

[2021-09-22 20:31] djaffer commented on #372
thanks for your response. The issue is that I just want just one of the steps to have more space.

![image](https://user-images.githubusercontent.com/5740725/134417379-a77d1ab4-389a-4749-a042-57edebac1229.png)

[2021-09-23 06:43] elrumordelaluz commented on #372
Always in `v2` the spaces can be controlled for each `step`, [details](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#padding-padding)

[2021-09-23 07:38] #377 closed

[2021-09-23 07:40] elrumordelaluz commented on #377
Hi @DevBGarcia, thanks to report this _issuse_. Now should be fixed in `v2.0.1`.

[2021-09-23 07:42] elrumordelaluz commented on #376
This is only a warning, should work everything well beside this.
In a moment I'll try to update this in v1, for now you can use v2.

[2021-09-23 07:42] #376 closed

[2021-09-26 06:55] mahboubehsalmani opened #379 "skip step if it's not visible"
I have some elements (for example a sidebar) in my project which is not visible in smaller screens. Is it possible to skip the steps that refer to sidebar in smaller screen?

[2021-09-27 13:28] LucasVancoIBM opened #380 "Mask not showing on Edge with Windows scalability"
Hello, I have the exact same problem explained in #369 .
The masks are not being displayed correctly and the whole page is black.
I am using Edge on Windows with a scalability of 125%. It is an enterprise computer so I can not change any settings.
(If I change the scalability to 100% it works fine, but it is not a solution for me)

Do you have any idea on how I can solve that problem only using co

[2021-09-27 17:10] elrumordelaluz commented on #380
Hi @LucasVancoIBM, thanks for open the _Issue_.

I will try to reproduce the issue in a windows machine, since I already tried on mac and couldn't get that result.

[2021-09-28 11:56] LucasVancoIBM commented on #380
Thank you for your quick reply.
To easily reproduce the bug and test it, you can just use your own codesandbox example, the first one with react router. I am able to reproduce both on Edge and Chrome with a scalability of 125%.

Thanks in advance for your help.

[2021-09-28 17:45] elrumordelaluz commented on #380
I had the opportunity to test on that sandbox and noted that the version of `@reactour/tour` was an old one. Updating it fix the issue for me. Could you please try updating into `v2.0.1`, just refreshing it in the `package.json`? However I'll update from my side to avoid this.

Anyway, are you having the same issue in your project also? In that case, mind sharing a minimal reproduction in a sandbo

[2021-09-28 17:46] zackharley opened #381 "Show badge prop is spelled wrong"
### Problem

The prop on `Tour` and therefore the `TourProvider` for showing the badge is spelled `showBagde` instead of `showBadge`. Not sure how you want to address this since it will be a breaking change but thought I'd bring it up.

https://github.com/elrumordelaluz/reactour/blob/4ce0c5539e796a2c6a469189ce8fd0eef75cd478/packages/tour/src/Tour.tsx#L41

[2021-09-29 06:33] mingzizhennimafan commented on #365
Same problem "@reactour/tour": "2.0.0",

[2021-09-29 07:59] elrumordelaluz commented on #381
Hi @zackharley, thanks for open the _Issue_.

omg what a typo!

[2021-09-29 08:00] elrumordelaluz commented on #365
@mingzizhennimafan could you please expand a little what is the issue, and maybe share an example/sandbox?

[2021-09-29 08:16] elrumordelaluz commented on #381
Should be available on `v2.0.2`. Thanks again @zackharley

[2021-09-29 08:16] #381 closed

[2021-09-29 08:28] mingzizhennimafan commented on #365
@elrumordelaluz see: https://codesandbox.io/s/quirky-hofstadter-6y9k3?file=/src/App.tsx

[2021-09-29 09:16] elrumordelaluz commented on #365
Now [should work](https://codesandbox.io/s/crimson-sound-d6ned?file=/package.json) on `v2.0.4`, due to invalid `module` file path. Thanks for the input!

[2021-09-29 09:16] #365 closed

[2021-09-29 14:44] elrumordelaluz commented on #379
Hi @mahboobehsalmani, thanks for open the _Issue_.

Before go further to develop a solution, which I think is possible or on user-land or adding some logic inside the package, let me know if your sidebar is not present in the DOM (ie. not rendered by a react condition) or is simply hidden using css?

Should be awesome if you can create a minimal reproduction in a sandbox of your use-case with the

[2021-09-29 16:37] LucasVancoIBM commented on #380
Yes i have the issue inside my own project even after upgrading the version to `2.0.1` in the `package.json` file.

The project is pretty huge and I don't think I am going to be able to reproduce it in a sandbox. But it is a simple tour with 10 steps and nothing fancy.
Here is the code implementing the Tour :
`
const styles = {
    popover: base => ({
        ...base,
        borderRadius: '10px',

[2021-09-29 17:09] elrumordelaluz commented on #380
Are you also already having the issue in the sandbox?

[2021-09-29 23:27] zackharley commented on #381
Thanks for such a quick turnaround!

[2021-09-30 03:21] djaffer commented on #338
same issue here if the interaction is allowed on the input field and keyboard gets open the highlight gets out of focus.

[2021-09-30 07:15] elrumordelaluz commented on #338
Please consider create a minimal reproduction in a sandbox in order to debug and analyze this use-case. Thanks!

[2021-09-30 12:26] LucasVancoIBM commented on #380
It seems that the problem no longer appear on my enterprise computer with this sandbox.
Can you explain to me what changes you made ?

[2021-09-30 13:04] elrumordelaluz commented on #380
so weird, I only upgraded the `@reactour/tour` version.

Mind create a minimal sandbox, without the complexity of your project, but with zoom 125%, trying to understand at what point the _Mask_ stops working.

Super curious on what's the issue.

[2021-09-30 13:16] LucasVancoIBM commented on #380
The thing is that the zoom is handled directly by Windows and not by the browser or the code so I do not have control over it.

[2021-09-30 13:27] LucasVancoIBM commented on #380
I noticed that in my `package.json` I have this `"@reactour/tour": "^2.0.1"` whereas inside the sandbox it is `"@reactour/tour": "2.0.1"`, do you think it makes a difference ?
And also my react version is `"react": "^16.12.0"` and `"react": "17.0.2"` for the sandbox, can it be the cause ?

[2021-09-30 13:28] elrumordelaluz commented on #380
Are you able to update the react version?

[2021-09-30 13:29] elrumordelaluz commented on #380
Or try downgrading from the sandbox?

[2021-09-30 13:45] LucasVancoIBM commented on #380
I have upgraded to react 17 and still have the problem.
I also noticed that if I zoom on my chrome browser (175% for example) I am able to reproduce the same bug but not in the sandbox somehow.

[2021-09-30 13:47] elrumordelaluz commented on #380
We need to find a way to reproduce in a public working example, in order to debug from both sides.

[2021-09-30 19:12] djaffer commented on #338
It is in mobile so cannot really do it on codesandbox.
![reacttour](https://user-images.githubusercontent.com/5740725/135516415-570a4525-7037-448c-8f00-86257370484a.gif)

[2021-10-01 05:51] elrumordelaluz commented on #338
Ok, however super clear the situation, need to stop auto-position, when _keyboard_ opens, or at least scroll to element again. Let's investigate.

[2021-10-01 08:46] dmitriifrlv opened #385 "[V2.0] Steps prop: highlightedSelectors ignores the selector when both DOM elements present"
I would like to start by thanking @elrumordelaluz , @qboot and other contributors who put their effort, knowledge and time into this amazing library!

**Description of the issue**

One of the steps of my tour requires a user to click a button and fetch some data. So, we have 2 DOM elements which present on the page at the time of clicking this button :

-DOM element 1 (button)  with a selector '.s

[2021-10-01 08:51] elrumordelaluz commented on #385
Hi @dmitriifrlv, thanks for open the _Issue_.

What a great issue description with examples.

Thank you also for your kind words. Let me check the sandboxes and back to you.

[2021-10-01 10:26] #375 closed

[2021-10-01 10:27] elrumordelaluz commented on #366
Closing but feel free to re-open in any case.

[2021-10-01 10:27] #366 closed

[2021-10-01 10:27] elrumordelaluz commented on #357
Closing but feel free to re-open in any case.

[2021-10-01 10:27] #357 closed

[2021-10-01 10:28] elrumordelaluz commented on #359
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2021-10-01 10:28] #359 closed

[2021-10-01 10:54] elrumordelaluz commented on #338
Thank you @djaffer to share the screecast, can you share the part of `steps` involved, and the version of the library you are using?

[2021-10-01 12:40] dmitriifrlv commented on #385
@elrumordelaluz Hello! Thank you for your help! It works exactly as I wanted now. Do you think this case may be helpful for other users? If so, I'll create PR.

[2021-10-01 13:01] elrumordelaluz commented on #385
Sure! thank you.

[2021-10-01 13:01] #385 closed

[2021-10-01 22:37] djaffer commented on #338
version: 1.18.6

[2021-10-02 06:47] elrumordelaluz commented on #338
Could you please try upgrading to `@reactour/tour`, like [here](https://codesandbox.io/s/reactour-tour-demo-using-react-modal-forked-i7gbt?file=/components/Main.js)?

https://user-images.githubusercontent.com/784056/135706629-65862b9d-a1cb-4ee4-9934-cdfb0b7dedb0.mp4

[2021-10-02 22:07] djaffer commented on #338
I am using a class component an example of how to use the one above in class. Also, any workaround anything available. Thank you for being proactive in helping.

[2021-10-03 02:01] kodekaboom opened #387 "I lost the current step when I move between routes"
Hi, I use this [example](https://codesandbox.io/s/myry48155p?file=/src/index.js:629-633), when I move between the pages restart the current count of the tour, thanks

Hola, estoy usando este [ejemplo](https://codesandbox.io/s/myry48155p?file=/src/index.js:629-633), cunado me muevo de una a ruta a otra se reinicia el conteo y tengo que empezarlo de cero otra vez, si pueden ayudar estaria agradecido

[2021-10-03 14:09] elrumordelaluz commented on #387
Hi @kodekaboom, thanks for open the _Issue_.

Please consider use `@reactour/tour` version 2 which handles those use-cases better. Here is an example [using react-router](https://codesandbox.io/s/reactour-tour-demo-using-react-router-dom-kujql), where you can control, `steps` and `currentStep` (other than other stuff) using [useTour](https://github.com/elrumordelaluz/reactour/tree/master/packages/

[2021-10-04 08:50] elrumordelaluz commented on #338
@djaffer please update into `@reactour/tour@2.1.0` which exports [withTour HoC](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#withtour) allowing you to use all `useTour` hook props from your React.Component. [Here](https://reactour.vercel.app/#higher-order-component) is an example online.

[2021-10-04 23:36] kodekaboom opened #388 "Use the TourProvider outside the root app"
Hi, there is some example that uses the TourProvider outside the root of the app? I'm trying to use the beforeClose and I can't if I use the provider on the root, and there is a prop to disable the tour close when we click mask? I only want to close the tour when I click the x

[2021-10-05 07:55] elrumordelaluz commented on #388
Hi @kodekaboom,

You can position your _TourProvider_ wherever you want, just consider that you can control the _Tour_ through `useTour` hook only on components down this part of the tree.

Please share an example because on my end works as expected.

Sure, you can combine [onClickMask](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#onclickmask-clickprops-clickprops--void) an

[2021-10-05 07:55] #388 closed

[2021-10-05 08:37] djaffer commented on #338
thanks! I looked at it. It is not possible to change the entire flow to this because we have validation, etc for the flow. Is there a way to have the next step and prev step handler in the child component?

[2021-10-05 08:37] djaffer commented on #338
thanks! I looked at it. It is not possible to change the entire flow to this because we have validation, etc for the flow. Is there a way to have next step and prec handler in the child component.

[2021-10-05 09:07] elrumordelaluz commented on #338
Using `useTour`?

[2021-10-05 18:45] djaffer commented on #338
usetour we can't use because it is a class component. A suggestion would be this could be fixed in the 1.18.6 or you can tell me work around hack for me to get this to work. We can schedule the migration to this as a side note.

[2021-10-06 06:05] davidcheal commented on #303
Hi, just to add to this issue with documentation.

I think you should mention the change from reactour to @reactour in the main readme.

I've had reactour working in my app for ages, and was just reviewing its use, but the doco had me scratching my head.

Maybe I'm a bit slow, but when you click the repo link from https://www.npmjs.com/package/reactour to https://github.com/elrumordelaluz/reactour

[2021-10-06 07:21] elrumordelaluz commented on #338
You can user `withTour` in each component and handle the next/prev behavior throug `setCurrentStep`. Could you please share a peace of code in order to understand better?

Agree, let me know what you think are missing (it is absolutely possible), because some use cases are solvable in new ways, allowing to have less config props in the main _Tour_, thanks!

[2021-10-06 07:23] elrumordelaluz commented on #303
hi @davidcheal, you are absolutely right!

Mind making a PR? Thanks!

[2021-10-06 08:03] djaffer commented on #338
Thanks for response. Please can you get the in the child component way to add next, prev button handler for the controlled use case? In your [example](https://reactour.vercel.app/#higher-order-component), it would be inside the Placeholder component. I do not think right now you have this. Maybe you can add something props to set the next handler.

              nextStep={this.tourNextStepHandler.

[2021-10-06 08:16] elrumordelaluz commented on #338
In this example, the _Placeholder_ component is the one enhanced with `withTour` and it is a child component of _TourProvider_. I am missing something?

[2021-10-06 20:22] kodekaboom commented on #388
Hi @elrumordelaluz , I put the tour provider outside of the root, its works but now when i move between pages the tour goes to the first step again, another thing is when I added to the root, the tour makes the app goes blank for a sec.

[2021-10-07 05:43] elrumordelaluz commented on #388
Could you please share a minimal reproduction of the issue in a sandbox? Thanks

[2021-10-07 12:38] TheFe91 opened #390 "highlightedSelectors not working if missing selector prop"
I noticed that when putting the `highlightedSelectors` property, it won't select anything unless you put also the `selector` property, pointing at the first element of the array. This however is not what the docs point out. Could be a bug?

[2021-10-08 05:17] Ovaideanu opened #391 "Custom helper"
Hello guys.
In version 1 we could add a custom helper trough `CustomHelper` prop. How can I add a custom helper with the new approach `TourProvider`?

Thanks!

[2021-10-08 16:00] elrumordelaluz commented on #387
I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2021-10-08 20:32] #390 closed

[2021-10-08 23:37] djaffer commented on #338
any update @elrumordelaluz ?

[2021-10-13 20:17] djaffer commented on #338
any update @elrumordelaluz ?

[2021-10-18 12:26] mepaJanitza opened #392 "No Type Definitions in Bundle"
Hello, where are the type definitions for reactour. I just copy pasted it actually from your repo (so i created my own type defition)  . Is there a possibility that your package provides its own type declarations ?

[2021-10-18 12:28] mepaJanitza opened #393 "StepTypes content accepts not ReactElement"
Hello, i saw that you designed the type of StepType as follows

https://github.com/elrumordelaluz/reactour/blob/38e7e767f849de89757a32b2b193836c4900f175/packages/tour/src/types.tsx#L83

Do you really want to keep it how it is, i would expect , that content could be also an React.ReactElement instead just a string.

[2021-10-19 07:57] vegeta123254 opened #394 "How to stop the tour when the last step is reached."
I have a react tour and I'm using it setSteps on several components.
Under the same component, if they're are several steps, how to stop tour when last step is reached?

[2021-10-19 08:02] #394 closed

[2021-10-19 09:58] elrumordelaluz commented on #393
Hi @mepaJanitza, thanks for open the _Issue_.
You are absolutely right, mind make a PR?
Thanks!

[2021-10-19 10:36] miikakuisma opened #395 "Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code."
It's recommending to change `componentWillReceiveProps` into `componentDidUpdate`. It's only a warning in development mode at this point, but probably good idea to refactor the code little bit?

[2021-10-19 10:46] #395 closed, assigned to nobody

[2021-10-19 11:50] mepaJanitza commented on #392
Okay sorry,my ide goes crazy sometimes

[2021-10-19 11:50] #392 closed, assigned to nobody

[2021-10-19 12:54] #393 closed, assigned to nobody

[2021-10-20 15:06] vegeta123254 opened #397 "[QUESTION]How to show tour guide only once for the user?"
I have used tour guide for a new feature onboarding, how do I show the tour guide once for the user?
I have setSteps in each component.

Anything I can do with `TourProvider` ?

[2021-10-20 18:00] #397 closed, assigned to nobody

[2021-10-21 11:40] elrumordelaluz commented on #188
@emma-adams-machine did you tried using the last version of `@reactour/tour`?

Should be solved there. Let me know in any case.
Thanks,

[2021-10-21 17:03] BrOrlandi opened #399 "Hacktoberfest label and docs improvement"
Hi, there!

I believe the documentation can be improved by providing better code examples.
I can contribute to this and I suggest you add the `hacktoberfest` label in this repo to attract more contributions during October.

What do you think?

Thanks!

[2021-10-21 18:09] #399 closed

[2021-10-27 08:32] semihraifgurel opened #402 "V2.3.0 dont work"
[code]

[2021-10-27 08:58] #402 closed, assigned to nobody

[2021-10-29 01:45] Jcanno opened #403 "resize the mask"
In the first of official [demos](https://reactour.vercel.app/), I open the mask with chrome devtools on, and then I resize the devtools, and the mask didn't resize. Is this a bug? Or I should do something make this resizable?
![image](https://user-images.githubusercontent.com/34361691/139359480-d228b6dc-dda8-4286-9e43-11786f4b8ddf.png)

[2021-10-29 06:14] #403 closed, assigned to nobody

[2021-10-30 07:12] danilowanner commented on #380
@LucasVancoIBM You must make sure that your package manager indeed resolved the sub-dependency `@reactour/mask` to at least version `0.2.1`.

You find out by using a command like `yarn why @reactour/mask` or looking for the package in your node_modules folder.

Due to the main package `@reactour/tour` defining the dependency as `"@reactour/mask": "*",` your package manager will assume an older ver

[2021-10-31 10:23] djaffer commented on #338
any update @elrumordelaluz ?

[2021-11-01 20:53] elrumordelaluz commented on #338
I'm sorry @djaffer, couldn't get an eye on this yet. Will try to this week. Any help welcome.

[2021-11-01 21:15] elrumordelaluz commented on #380
@danilowanner you mean that if packaged are resolved using the latest, should be solved the issue?

Any idea on how to force `@reactour/tour` to get always the latest version of packages?

[2021-11-02 05:35] danilowanner commented on #380
@elrumordelaluz Yes, I think the described issue can be addressed by updating the mask package. Our team is using the library with `0.2.1` of `@reactour/mask` and the Windows bug is resolved.

I suggest you make a new release of `@reactour/tour` with the dependencies listing a minimum version of `@reactour/mask` and maybe the other packages as well?

Instead of `"*"` you do `"^0.3.1"` (or whicheve

[2021-11-02 09:13] elrumordelaluz commented on #380
Thank you @danilowanner !

So for now I'll close this issue, since should be solved.

[2021-11-02 09:13] #380 closed

[2021-11-02 21:31] nenadev21 commented on #98
Hi Leonel,
Thank you so much for this information.
I'm still trying to get my head around this. I'm pretty new to coding :)

Is it possible to use arrow popovers inside of a Tour component or are they
independent?
What I'm trying to accomplish is to have a tour where the arrow can point
to the place where the selector is at. Is it possible?

Thanks for your help!

Daniela

On Thu, Oct 28, 2021 at

[2021-11-04 16:53] elrumordelaluz commented on #98
Hi Daniela,
Don't worry, here is a sandbox that puts together the _Popover_ styles in _Tour_: https://codesandbox.io/s/tour-with-data-fetching-forked-ic5es?file=/src/index.js.

ps/ the link in the previous comment land in the wrong demo, sorry (seems that React Styleguidist duplicates ids when title is the same). Try looking for the _Popover_ "Custom styles" demo.

[2021-11-07 13:00] avivm opened #406 "TypeScript error in .../node_modules/@reactour/tour/src/types.tsx"
First of all thanks for a great library!

I have upgraded to the new scoped package and receive the following error:

TypeScript error in .../node_modules/@reactour/tour/src/types.tsx(110,10):
Re-exporting a type when the '--isolatedModules' flag is provided requires using 'export type'.  TS1205

    108 |   hideArrow?: boolean
    109 | }
    110 | export { Position }
        |          ^
    111

[2021-11-10 05:08] djaffer commented on #338
Would be happy to help but I am not too familiar with the structure of this.  Currently, I decided not to use this feature just to show the steps and not have interaction enabled. Mandating to use hooks for the older code is a challenge.

[2021-11-10 08:05] elrumordelaluz commented on #338
Hi @djaffer, I am sorry, but couldn't give the attention needed for this issue yet. Thank you anyway for the desire to help. Will get back to you as soon as solved it in any way.

[2021-11-11 02:46] woodybooy commented on #268
how do you customize like this? do you have sample ?

[2021-11-11 06:04] bogodars commented on #268
Hi, please see here https://github.com/bogodars/user-guide

[2021-11-12 09:43] danilowanner commented on #406
Hey @avivm

Could it be that you are accidentally including your node_modules in your TS-build? Since you should not actually reference any files in the `@reactour/tour/src` (since this is the source code, as a consumer you would be loading the built version at `dist/index.js` and typings from `dist/index.d.ts`).

Check your package's tsconfig file, specifically the `include` and `exclude` options

[2021-11-13 22:29] richburdon opened #407 "Missing react-is dependency."
[code]

[2021-11-15 01:48] woodybooy commented on #140
![image](https://user-images.githubusercontent.com/56328199/141709262-f502fc17-ff63-45ba-aebc-4d38ce87c79d.png)
![image](https://user-images.githubusercontent.com/56328199/141709356-9901ceb9-396d-4298-a548-14c91d0a1b19.png)

hi how can i use  onRequestClose? i dont want to close the tour even i click the  shadow  background. when i remove  this onRequestClose the error triggered "Uncaught TypeErro

[2021-11-16 09:49] elrumordelaluz commented on #407
Hi @richburdon, thanks for open the _Issue_.

Yes, in `v1.x` versions this is a [peerDependency](https://github.com/elrumordelaluz/reactour/blob/v1/package.json#L77-L82)

[2021-11-16 09:49] #407 closed

[2021-11-18 11:16] vegeta123254 opened #408 "Unable to show the dropdownlist options in the popover"
Is there any way we can show the dropdown list options in the popover?
Even if I create a div as a parent for the Dropdown element and add it to the selector, I'm unable to view it.

Any idea how this can be resolved?
<img width="300" alt="Screenshot " src="https://user-images.githubusercontent.com/71253883/142405214-5549d93b-4ba5-48ac-a6ee-dfd5055521a5.png">

[2021-11-19 12:27] elrumordelaluz commented on #408
Hi @vegeta123254, thanks for open the _Issue_.

Could you please share a working sandbox with this?

Thanks!

[2021-12-02 16:22] aeharding opened #409 "Programatically update position in v2"
Hello! Thank you for this useful project!

I'm migrating from v1, and in v1 I can programmatically update the position with the `update` attribute on the `Tour`.

I use this when elements are asynchronously added or changed in the dom.

Is it possible to get similar functionality in the `useTour()` of v2? Perhaps a `setUpdate` function that, when changed, will programmatically update the positioni

[2021-12-02 16:57] aeharding commented on #409
Found a hack to use a mutationObserver on each step, changing between 0/1px. But it's really hacky. I'd love an alternative method. :)

<img width="566" alt="image" src="https://user-images.githubusercontent.com/2166114/144467593-dc21f83f-aa3b-4f8d-9613-0925c44f8978.png">

[2021-12-03 07:59] elrumordelaluz commented on #409
Hi @aeharding, thanks for open the _Issue_.

Can you please share a reduced reproduction in a sandbox?

Thanks!

[2021-12-09 16:41] elrumordelaluz commented on #140
@woodybooy try using [closewithmask: false](https://github.com/elrumordelaluz/reactour/tree/v1#closewithmask)

[2021-12-09 16:42] elrumordelaluz commented on #406
Closing, but feel free to re-open in any case.

[2021-12-09 16:42] #406 closed

[2021-12-09 16:43] elrumordelaluz commented on #268
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2021-12-09 16:43] #268 closed

[2021-12-09 17:14] kkirsche commented on #268
As this is an issue that was never addressed, I don't agree this should be closed. This is still desired

[2021-12-10 12:03] vegeta123254 opened #410 "I am reactour v2, How to prevent the tour from stopping on clicking on the mask?"
I am using reactour version v2.
I understand that there is a **closeWithMask** prop with Tour, in v1.
Is there any similar prop, to prevent the tour from closing on clicking outside the mask?

[2021-12-10 13:33] elrumordelaluz commented on #410
Hi @vegeta123254, thanks for open the _Issue_.

You could do it using [onClickMask](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#onclickmask-clickprops-clickprops--void)

[code]

[2021-12-11 04:05] vegeta123254 commented on #410
Worked, Thanks for your valuable suggestion.

[2021-12-11 04:05] #410 closed

[2021-12-13 11:44] LunaticPoring opened #412 "Helper position does not get recomputed when Helper dimensions change"
Hello there,

We noticed a seemingly wrong behaviour with the helper positionning when its size changes between two steps.

**Reproduction scenario:**
https://codesandbox.io/s/xenodochial-mountain-m9c75?file=/src/App.js

**Analysis**
This seems to be related to the fact that `helperWidth `and `helperHeight ` in Popover.tsx only get recomputed on `window. 'resize' ` event

`  const { width: helperW

[2021-12-13 13:10] #412 closed

[2021-12-13 13:17] elrumordelaluz commented on #412
Should be solved in `@reactour/tour@2.3.1`.

[Here](https://codesandbox.io/s/funny-wilson-9516u) the updated sandbo

![sandbox](https://user-images.githubusercontent.com/784056/145819399-2b9fde2d-3ecb-4d08-bd19-10ab2c876814.gif)
x

[2021-12-13 13:18] LunaticPoring commented on #412
Awesome, thank you ! And what a reaction time 😮, took me longer to write this issue than for you to fix it 😁

[2021-12-14 13:10] vegeta123254 opened #413 "Is there a way invoke a function on clicking the close button on the popover?"
I am using reactour v2,
I have placed the **TourProvider** at the app level.
And used _useTour_ hook to _setSteps_ in different components.
Here is [sandbox](https://codesandbox.io/s/angry-satoshi-0h3l7) link,
I understand that **beforeClose** method can be used, to do something just before tour ends.
But how can I make a different HTTP request on each component , on clicking the close button on t

[2021-12-14 23:20] manuelurenah commented on #379
This is my workaround
[code]

[2021-12-15 10:48] #413 closed

[2021-12-15 10:51] elrumordelaluz commented on #413
`onClickClose` should be available on `@reactour/tour@2.4.0`.

[Here](https://reactour.vercel.app/#close-click) is the example.

[2021-12-15 12:51] zhiyuanL opened #414 "disableInteraction needed for Mask"
Hi,

I noticed that onClickHighlighted handler is defined for Mask but it is not working.

Another props, disableInteraction, which is not supported in Mask but I think is necessary for the onClickHighlighted handler to work.

Thanks

[2021-12-15 13:09] #414 closed

[2021-12-16 16:33] elrumordelaluz commented on #268
Now is possible to control each Component inside the _Popover_ through the [components](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#components-popovercomponentstype).

[Here](https://reactour.vercel.app/#custom-components) is the demo.

[2021-12-17 11:55] elrumordelaluz commented on #391
[ContentComponent](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#contentcomponent-componenttypepopovercontentprops) is now available in `@reactour/tour@2.6.0`. [Here](custom-popover-content) is the demo.

Since `@reactour/tour@2.5.0` it is also available the [components](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#components-popovercomponentstype) pr

[2021-12-17 11:55] #391 closed

[2021-12-18 10:09] elrumordelaluz commented on #372
Closing but feel free to re open in any case.

[2021-12-18 10:09] #372 closed

[2021-12-21 16:08] elrumordelaluz opened #415 "Controlled Tour"
If I understand well, the problem shown [here](https://github.com/elrumordelaluz/reactour/issues/338#issuecomment-935702223) is due to not having a way to control the _Tour_ externally.

In this issue I will track those use cases.

[2021-12-21 16:09] elrumordelaluz commented on #338
@djaffer Since the point of the issue was switched I am closing this _issue_ and will track progress in #415

[2021-12-21 16:09] #338 closed

[2021-12-21 16:13] elrumordelaluz commented on #328
Hi @JoshuaeKaiser, thanks for open the _Issue_ and sorry for the late reply.
It suppose to work, but I expect some issues with calculations. Since the `rect` values for the _Popover_ and _Mask_ comes from the `target`, but if it is inside the `iframe`, the values used won't match with those shown in the _Tour_.

Hope is a little clear, however will make a demo sandbox to show you the issue.

[2021-12-21 16:13] elrumordelaluz commented on #323
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2021-12-21 16:13] #323 closed

[2021-12-21 17:01] elrumordelaluz commented on #415
@djaffer please let me know if [this sandbox](https://codesandbox.io/s/reactour-tour-demo-using-withtour-hoc-vkxlv?file=/components/Main.js) can solve some of the use cases you described. Thanks!

[2021-12-23 08:44] nurrgur commented on #177
Merhaba, ben sorunu bu şekilde çözdüm.

const changeHistory=(link)=>{
      if(op == 0) {
        history.push(link);
        setOp(1)
        setTimeout(() => {
          setOp(0)
        }, 200);
      }
    }
    window.changeHistory = changeHistory;

---------------------------------------------------
action: () => {
      window.changeHistory("/settings/orders")
    },

[2021-12-27 10:30] naopin opened #416 "Is it possible to focus on multiple doms in one step?"
Is it possible to focus on multiple doms in one step?

Exsample1
<img width="266" alt="スクリーンショット 2021-12-27 19 28 08" src="https://user-images.githubusercontent.com/63636652/147463051-a9b4b145-e3fc-4631-a67a-4638a1820ef9.png">

[2021-12-27 11:44] elrumordelaluz commented on #416
Hi @naopin, thanks for open the _Issue_.

It is possible using [highlightedSelectors](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#highlightedselectors-string) prop on your `step`. Keep in mind that the _Mask_ will be calculated with a combination of both bounding box, not clipping each one individually.

duplicated #113

[2021-12-27 12:34] naopin commented on #416
Thank you for your reply!!

Is there a readme for the highlightedSelectors ?

In addition, is it possible to focus on multiple doms with just <Mask> without using <Tour>?
If you use multiple <masks>, you can only see the first <mask>. This is because the opacity: 0.7 overlaps. Is there a way around it?

[2021-12-27 13:08] elrumordelaluz commented on #416
demo: https://reactour.vercel.app/#highlighted-selectors

[2021-12-27 13:08] elrumordelaluz commented on #416
Could you explan this:

and

[2021-12-27 13:46] naopin commented on #416
I'm sorry. Change the question.
With this setting, only Mask of size1 will be displayed.
In order to display the size2 mask, you need to comment out the size1 mask.
` {/* <Mask sizes={size1} /> */}`

Is it possible to display size1 and size2 masks at the same time?

![スクリーンショット 2021-12-27 22 40 01](https://user-images.githubusercontent.com/63636652/147477172-e428863e-33a3-4007-b3c2-5e3328a628bd.pn

[2021-12-27 14:07] elrumordelaluz commented on #416
If I understand well, since is a question related on [Mask](https://github.com/elrumordelaluz/reactour/tree/master/packages/mask) Component, could you please close this _issue_ and open a new one? Thanks!

[2021-12-27 15:21] #416 closed

[2021-12-27 15:23] naopin opened #417 "Is it possible to display multiple Masks?"
With this setting, only Mask of size1 will be displayed.
In order to display the size2 mask, you need to comment out the size1 mask.
{/* <Mask sizes={size1} /> */}

Is it possible to display size1 and size2 masks at the same time?
![スクリーンショット 2021-12-27 22 40 01](https://user-images.githubusercontent.com/63636652/147485218-22d40deb-9488-4b03-9cc6-d9bba08f13da.png)

[2021-12-28 02:57] naopin opened #418 "How to use the highlighted selector"
I want to focus on multiple buttons in 1 step
However, it doesn't work with the photo code.
Please point out the mistake.

<img width="663" alt="スクリーンショット 2021-12-28 11 53 22" src="https://user-images.githubusercontent.com/63636652/147522829-762aedbf-6de4-4975-aaf6-c3d3627b10e9.png">

[2021-12-28 03:17] naopin commented on #418
In addition, is it possible to forcus only button1 and button3 by using highlightedSelectors?

<img width="663" alt="スクリーンショット 2021-12-28 11 53 22" src="https://user-images.githubusercontent.com/63636652/147524149-a91f6926-4ad3-4758-a490-df4082c08dc5.png">

[2021-12-28 07:22] elrumordelaluz commented on #418
@naopin mind creating a condesanbox in order to use as a base to apply examples? thanks!

[2021-12-28 08:41] #417 closed

[2021-12-28 08:44] elrumordelaluz commented on #417
@naopin thank you for pointing this out. There was an error with the `mask` and `clipPath` ids. Now should be solved using `@reactour/mask@0.4.0`. [Here](https://reactour.vercel.app/#more-masks) is the example.

[2021-12-29 10:22] elrumordelaluz commented on #418
I think [this sandbox](https://codesandbox.io/s/tour-with-data-fetching-forked-kq69n?file=/src/index.js) could be useful. Let me know,

[2022-01-05 04:18] naopin commented on #418
@elrumordelaluz
Thank you!!!!
Is it possible to focus the upper and lower buttons separately if the middle button is unchecked?

<img width="213" alt="スクリーンショット 2022-01-05 13 17 38" src="https://user-images.githubusercontent.com/63636652/148159912-9e874d0b-4c78-4eb3-a5b0-d1cf449f050a.png">

[2022-01-05 07:56] elrumordelaluz commented on #321
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.
I am sorry to missed reply before. In any case, don't hesitate to re-open or open a new _issue_.

[2022-01-05 07:56] #321 closed

[2022-01-05 07:58] elrumordelaluz commented on #418
As noted [here](https://github.com/elrumordelaluz/reactour/issues/416#issuecomment-1001528235).

It's related on how _Mask_ is calculated. For those cases, the internal calculations should generate more than one mask. Maybe in a future this will be considered. Obviously PR welcome.

[2022-01-05 07:58] #418 closed

[2022-01-11 12:22] frsmlk commented on #249
@elrumordelaluz I have this exact problem. Can't seem to get it to work. Any ideas?

[2022-01-11 13:51] elrumordelaluz commented on #249
@frsmlk could you please share the code or create a reduced sandbox? thanks!

[2022-01-12 03:43] namanappbroda011 opened #419 "how can I automatically trigger the Tab component of bootstrap in my tour"
My app consists of a multiple tabs on a single page which does not include change of path name so how can I automatically trigger the tabs during my tour?

[2022-01-12 07:33] elrumordelaluz commented on #419
Hi @namanappbroda011, thanks for open the _Issue_. Mind creating a sandbox with your example? Thanks

[2022-01-12 11:54] macmessa opened #420 "Components as required property when using Typescript"
I've just started using this great package in a project but I couldn't use the basic configuration following [this example](https://codesandbox.io/s/reactour-tour-demo-using-react-router-dom-kujql) but I've got an error about not providing the components property, that, as the docs says, is a optional parameter.

Here is the error:
![image](https://user-images.githubusercontent.com/13797580/149134

[2022-01-12 13:04] #420 closed

[2022-01-12 13:06] elrumordelaluz commented on #420
Should be available on `@reactour/tour@2.7.1`. Please let me know if is fixed and thanks for the catch and the PR!

[2022-01-12 17:50] namanappbroda011 commented on #419
yes sure. [Here](https://codesandbox.io/s/stoic-brook-r7n5f?file=/src/App.js) is my code please have a look! I want to trigger the tab during the tour.

[2022-01-12 20:37] elrumordelaluz commented on #419
I found something like the starter sandbox in your link, maybe I am missing something?

![Screenshot 2022-01-12 at 21 36 18](https://user-images.githubusercontent.com/784056/149217811-7f5749f5-499b-4128-a359-78c7d943b674.png)

[2022-01-13 04:12] namanappbroda011 commented on #419
sorry my code didn't get saved! [here](https://codesandbox.io/s/stoic-brook-r7n5f?file=/src/App.js:1450-1455) is my code!

[2022-01-13 08:14] elrumordelaluz commented on #419
Thank you @namanappbroda011. Can you explain a little what is the behavior you are expecting? Like, open the tour and focus on the _Tab 1_ and change step and content, when user triggers the other tabs?

[2022-01-13 10:20] namanappbroda011 commented on #419
No, I want when user click on the next step during the tour the tab automatically changes and highlight the content of that specific tab.

[2022-01-17 07:47] elrumordelaluz commented on #419
[Here](https://codesandbox.io/s/zealous-lovelace-v9u7j?file=/src/index.js) is an example. Keep in mind that you have to use the new version of `@reactour/tour` instead of `reactour@1x`

[2022-01-17 14:48] namanappbroda011 commented on #419
Thanks man got it!

[2022-01-17 14:48] #419 closed

[2022-01-18 01:56] Ibrahim-CloudLabs opened #423 "How to change opacity of the tour ?"
I'm using   `"@types/reactour": "^1.18.2",`
I would like to know how can I have `opacity: 0`  on the tour so that background is showing ?

I know how to style the mask and the helper but not the actual modal opacity
[code]

[2022-01-18 07:47] #423 closed

[2022-01-19 20:49] yanickrochon opened #424 "Actions remain disabled even if step defines disableActions to false"
When every steps in the tour allow user navigation, when a step sets `disableActions: true` and `stepInteraction: true`, the navigation remains disabled for the remaining steps even if `disableActions: false` is explicitly specified.

There is a demo, [here](https://codesandbox.io/s/trusting-sunset-fhit7?file=/src/Demo.tsx).

Basically, the state of one step should not bleed to another step.

[2022-01-20 07:50] #424 closed

[2022-01-20 07:53] elrumordelaluz commented on #424
Good catch @yanickrochon, thank you!
Should be solved in `@reactour/tour@2.8.1`, [here](https://codesandbox.io/s/fast-sun-y84dl) is your example forked.
Let me know in any case.

[2022-01-20 13:33] yanickrochon commented on #424
Thanks!

(For reference, if you tag issues in your commits, for example : "Resolves issue #424", then your commits will appear associated with the issue, so people can understand better the changes and resolutions within the code.)

[2022-01-20 14:12] yanickrochon opened #425 "The event onClickMask should receive the current steps"
Considering that declaring a `TourProvider` with specific steps may be modified externally through a hook, for example, the `onClickMask` handler receive both `currentStep` and `setCurrentStep`, but cannot garantee that the `steps` within that context is the same as when the even is fired.

For example, given my current situation, the tour can only be closed with the mask at the very last step (an

[2022-01-20 14:20] yanickrochon commented on #425
In fact, the initial `steps` are marked as "required" in the documentation, but it's value is an empty array by default, and not mandatory from the prop types declaration. So, my provider can be declared without `steps` and have `onClickMask` be called without any knowledge of the steps whatsoever.

[2022-01-20 14:30] elrumordelaluz commented on #424
Cool, thanks for the reference. So you mean that this (img) is not enough?

![Screenshot 2022-01-20 at 15 29 25](https://user-images.githubusercontent.com/784056/150357892-9c7367cb-f269-43f8-859a-b93296769adc.png)

[2022-01-20 15:00] yanickrochon commented on #424
If you are using Git CLI, you can create your commit message like this :

[code]
And this will automatically link the commit in the issue (i.e. here). So, whoever is concerned can easily view the changes directly from the issue instead of browser through the project or commit tree.

For example, you can see an example of this (randomly from one of my repository), [here](https://github.com/yanickro

[2022-01-20 15:04] yanickrochon commented on #424
Oh, I guess I was not awake enough, haha! Yes, what you did is fine also. I don't know what you use to manage your Git projects, but it works also.

My bad.

[2022-01-20 15:28] yanickrochon commented on #305
Is this issue still relevant?

[2022-01-20 15:37] yanickrochon commented on #171
For consistency, if there is `onLeave`, there should be `onEnter` instead of `action`. Otherwise, `action` should receive a extra parameter indicating if the action is when the step is active or not, no?

[2022-01-20 16:04] elrumordelaluz commented on #424
great! I use the CLI.

[2022-01-20 16:06] elrumordelaluz commented on #305
It refers to the old version and I didn't check already. Help is pretty welcome. Let me know if you think we could close it. Thanks!

[2022-01-20 16:12] elrumordelaluz commented on #171
The concept of enter and leave put in pause the `v2` release for a peace of time, since it opens a whole window of use-cases: ie. async actions, what if changes step when `enter` action stills running, etc etc etc.
As soon as I can I will close this _issue_ (and other related) opening a new one, highlighting use cases, possible solutions and compromises enabling a discussion for future improvement

[2022-01-20 16:12] yanickrochon commented on #305
Perhaps issues should be tagged with the major version (i.e. 1 or 2) so they can properly be triaged, and closed when stale?

[2022-01-20 16:21] elrumordelaluz commented on #305
cool, done! now I'll have to navigate on all the issues to tag'em.

thanks @yanickrochon for the input!

[2022-01-20 16:23] elrumordelaluz commented on #171
In `v2` it is more flexible to interact between the UI and the _Tour_ so it is less urgent to have this hooks also.

[2022-01-20 16:34] yanickrochon commented on #69
My opinion on this is that it wouldn't be possible in v1, but quite possibly so in v2. However, some major refactor would be needed, and I would very well see extra packages be added. For example : `@reactour/emotion` as the default optional package, but allow other UI such as `@reactour/mui` and `@reactour/react-native`, etc. This would allow developers to integrate Reactour with their preferred

[2022-01-20 18:11] elrumordelaluz commented on #69
Super interesting @yanickrochon. From my end most exited about `@reactour/emotion`, `@reactour/styledcomponents` etc

[2022-01-20 21:24] kevinRoomies opened #426 "Cannot style highlighted area"
I'm trying to style the highlighted area but I can only pass a callback using props and state? I have no idea how this is supposed to work, the documentation says nothing about it

[2022-01-20 21:27] kevinRoomies opened #427 "Where is lastStepNextButton?"
I come from reactour (v1) but I find nothing on the new version that allows me to do that?

[2022-01-21 07:35] elrumordelaluz commented on #427
Hi @kevinRoomies, thanks for open the _Issue_.

In `v2` you could obtain similar results using the generic [nextButton](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#nextbutton-props-btnfnprops--void) prop.

Doing something like this:

[code]

[2022-01-21 07:35] #427 closed

[2022-01-21 07:53] elrumordelaluz commented on #426
You have to pass the key needed into [styles](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#styles-stylesobj--popoverstylesobj--maskstylesobj-1) prop.

For details regarding keys and its documentation, please refer to _Mask_ docs [here](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#styles-stylesobj--popoverstylesobj--maskstylesobj-1).

You could make w

[2022-01-21 07:53] #426 closed

[2022-01-21 08:25] elrumordelaluz commented on #425
Hi @yanickrochon, thanks for open the _Issue_.

Could you please share a sandbox in order to try and understand better the issue.

Basically I'm not sure I am getting the part

since `steps` is an `Array` of the content and `currentStep` is only the `index`.

Thanks in advance,

[2022-01-21 10:47] ArutanSipdrae commented on #426
I tried to do that but the style of the highlighted area doesn't change

[2022-01-21 10:51] elrumordelaluz commented on #426
@ArutanSipdrae could you please share your code or better a sandbox? thanks!

[Here](https://codesandbox.io/s/tour-tests-kg9qr) is the example

![Screenshot 2022-01-21 at 11 50 55](https://user-images.githubusercontent.com/784056/150514655-fd2d09c3-635b-41c9-ba21-88abadcb826c.png)
.

[2022-01-21 12:57] kevinRoomies commented on #426
This is how I initiate my TourProvider

`<TourProvider
            steps={steps}
            className={'ibm subtitle'}
            styles={{
                popover: (base) => ({...base, borderRadius: '0.938rem'}),
                highlightedArea: (base) => ({...base, borderRadius: '0.938rem'}),
                dot: (base) => ({ ...base, border: 'none', background: 'hsl(var(--neon-blue))'})

[2022-01-21 13:10] elrumordelaluz commented on #426
it works?

[2022-01-21 13:11] ArutanSipdrae commented on #426
No it doesn't my highlighted area doesn't have rounded corners

[2022-01-21 13:15] elrumordelaluz commented on #426
are you the same person? if not, can you please share your code?

[2022-01-21 13:16] ArutanSipdrae commented on #426
I am the same person I'm just logged on another account from another pc

[2022-01-21 13:19] elrumordelaluz commented on #426
Keep in mind that the `highlightedArea` isn't visible by default, allowing interaction. maybe you are looking to round `maskArea`, that also works with `rx`.

[2022-01-21 13:28] kevinRoomies commented on #426
oh so I need to use that rx/ry... this is not very clear the documentation doesn't mention svg and the mask/popover doc are 404

[2022-01-21 13:42] yanickrochon commented on #425
Hi @elrumordelaluz , I thought it was clear, but here's a minimalist [sandbox](https://codesandbox.io/s/missing-steps-information-bi5ii?file=/src/Demo.tsx).

In short, I will have multiple tours in the app, all using the same `TourProvider`, all initialized from various triggers, each assigning their own steps. However, the `TourProvider` should _only_ allow closing from the mask once it reaches t

[2022-01-21 13:45] kevinRoomies commented on #427
Ah I see. May I suggest to not name the Arrow Component "Button" for those props? Button being a very common component to create if you destructure the props here this can rapidly cause an issue

`nextButton={({stepsLength, currentStep, ...rest}) =>
                currentStep === stepsLength - 1
                    ? <Button
                        text={t('common:button.understood')}

[2022-01-21 14:18] elrumordelaluz commented on #426
I'm sorry about that. Can you tell me where are you getting 404? I can access [Mask](https://github.com/elrumordelaluz/reactour/tree/master/packages/mask) and [Popover](https://github.com/elrumordelaluz/reactour/tree/master/packages/popover) docs and the playground at https://reactour.vercel.app without problems.

Appreciate a lot if you can point where can be improved the docs, also PR welcome!

[2022-01-21 14:22] kevinRoomies opened #428 "Delaying while dom loading"
Is there a way to wait for an element to appear? I'm moving to another page during the tour but since it goes to the next step before waiting for the page to load it doesn't highlight anything...

[2022-01-21 14:30] elrumordelaluz commented on #427
maybe `ArrowButton`?

[2022-01-21 14:33] kevinRoomies commented on #427
That would be less likely to overlap with an existing component indeed, could event go ArrowNextButton just to be sure, and ArrowPrevButton for the prevButton props

[2022-01-21 14:37] elrumordelaluz commented on #425
Absolutely clear @yanickrochon, thanks for the sandbox!

[2022-01-21 14:41] elrumordelaluz commented on #425
Everything should be available on `@reactour/tour@2.8.2`

[2022-01-21 14:45] elrumordelaluz commented on #428
are you using `useTour`? Can you please share a reduced reproduction in a sandbox?

[2022-01-21 14:48] yanickrochon commented on #427
I may be missing something, but I fail to see the why `prevButton` and `nextButton` aren't defined in `components`?

For example :

[code]

[2022-01-21 14:59] yanickrochon commented on #425
Remember to update the docs, but everything's good! Thanks!

[2022-01-21 14:59] #425 closed

[2022-01-21 15:28] elrumordelaluz commented on #427
why not!? 👍🏼

the source is that the `v2` wanted, in some way to maintain `props` from `v1`. But why not move and clean _TourProvider_ props when new features were added (`components` is pretty new).

[2022-01-21 15:30] elrumordelaluz commented on #425
Should be updated [here](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#steps-steptype) and [here](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#onclickmask-clickprops-clickprops--void). Let me know if you think I am missing something, thanks!

[2022-01-21 15:33] yanickrochon commented on #427
Favor the new props, and fallback to the old ones with a deprecation notice. With a roadmap, devs can plan and refactor ahead of time (especially if the changes are trivial, like in this case).

[2022-01-21 15:38] yanickrochon commented on #425
@elrumordelaluz `steps` is still marked as required, other than that, it's OK.

(I just found out about Reactour, this week, but I do plan on forking this repo and actually contribute. I've had a 15 hours days all week, so it's pretty crazy right now. I should have time to make PRs next time.)

[2022-01-21 15:48] elrumordelaluz commented on #425
lol, I added the `?`but missed the

Each PR is pretty welcome, thanks"

[2022-01-21 16:47] #428 closed

[2022-01-21 16:48] kevinRoomies opened #429 "Tour on an absolute div"
I'm trying to make my tour go over a menu that is has an absolute positionning but it cannot find it, is this a normal behavior

[2022-01-21 17:01] elrumordelaluz commented on #428
please refer to #430

[2022-01-21 17:02] elrumordelaluz commented on #427
more in #430

[2022-01-21 17:02] elrumordelaluz commented on #415
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-21 17:02] #415 closed

[2022-01-21 17:02] elrumordelaluz commented on #408
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-21 21:00] Ibrahim-CloudLabs opened #431 "Checkbox not working well"
I'm not sure if this is a bug but I have a controlled input that works outside the steps object, however when I have it inside the content of a selector the checkbox only checks in one way. Not sure why this is happening.

[2022-01-21 21:40] yanickrochon commented on #431
Without understanding your configuration and use case, this is difficult to see what you're not sure why something is happening. Please provide a sandbox of what you're trying to accomplish by creating one, or forking [this one](https://codesandbox.io/s/reactour-sandbox-1wmyd?file=/src/App.jsx)

[2022-01-22 07:17] Ibrahim-CloudLabs commented on #431
https://codesandbox.io/s/reactour-sandbox-forked-nxs6d?file=/src/App.jsx

[2022-01-22 11:46] elrumordelaluz commented on #431
You need to put the `state` inside the `content`. For this you can pass a React function component into `content` like this:

[code]

[Here](https://codesandbox.io/s/reactour-sandbox-forked-ygcou?file=/src/App.jsx:128-490) is your example modified.

[2022-01-22 17:22] Ibrahim-CloudLabs commented on #431
Thanks a lot! One last question :D, How can I have a another tour within my application ?

[2022-01-22 17:22] #431 closed

[2022-01-24 11:31] elrumordelaluz commented on #431
You could control `steps` and all the stuff, using the same _TourProvider_, isn't that enough? In that case can you please open another issue sharing a sandbox with a reduced reproduction? Thanks!

[2022-01-24 16:55] kevinRoomies commented on #426
https://www.npmjs.com/package/@reactour/tour

"Refer to Mask docs and Popover docs for its specific Components"
Both hyperlinks are 404

[2022-01-24 21:04] PeterKottas opened #432 "Autoscrolling broken in scrollable HTMLElement"
Fix needed in an external library, pr here: https://github.com/Pixeden/scroll-smooth/pull/14 . Once that lands could you please bump the version? Currently, this causes some weird issues when the window is scrolled and the scrollable container isn't. FYI, I am seeing the problem in v1 branch, not sure if this affects or has been resolved in v2.

[2022-01-25 08:01] elrumordelaluz commented on #432
Hi @PeterKottas, thanks for open the _Issue_ and for the PR, in `v2` is no more needed this lib.

[2022-01-25 08:20] elrumordelaluz commented on #432
Should be available on `reactour@1.18.7`

[2022-01-25 08:20] #432 closed

[2022-01-25 17:24] PeterKottas commented on #432
Thanks for the quick work, you're a star! I gave it a quick look to update to v2 but I am afraid we have a lot of custom work in place that would make it tedious, to say the least. Sticking with v1 for the time being. V2 looks good though, kudos.

[2022-01-26 17:57] elrumordelaluz commented on #322
Now you can customize this and other parts, using [components](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#components-popovercomponentstype). Here is a [demo](https://reactour.vercel.app/#custom-components)

[2022-01-26 17:57] #322 closed

[2022-01-26 18:02] elrumordelaluz commented on #308
Sorry for the late reply. However I checked the settings in [v1](https://github.com/elrumordelaluz/reactour/tree/v1) and work as expected.

Due to inactivity I am closing, but feel free to re-open or create a new one in any case.

[2022-01-26 18:02] #308 closed

[2022-01-26 18:05] elrumordelaluz commented on #305
However on my end works as [expected](https://codesandbox.io/s/reactour-demo-template-live-forked-s0bqq?file=/styles.css). I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-26 18:05] #305 closed

[2022-01-26 18:28] yanickrochon commented on #282
When you have `setState({ currentStep: curr })`, you essentially create a brand new state each and every time. Therefore, you trigger a component refresh. In a nutshell, this is the expectation :

[code]

In other words, to prevent triggering a state change, compare `currentStep` inside of your step. For example :

[code]

Essentially : if `prevState.currentStep` is different from curr, then creat

[2022-01-26 18:58] elrumordelaluz commented on #299
Hey, sorry for the pretty late reply. Now this is doable using `@reactour/tour@2.x`, customizing [styles](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#styles-stylesobj--popoverstylesobj--maskstylesobj-1). [Here](https://reactour.vercel.app/#custom-popover-styles) is the example on the _Popover_ demo.

[2022-01-26 18:58] #299 closed

[2022-01-27 15:09] eperedo opened #433 "Re render when height is too big"
Hello,

I'm having a problem when the dom element of a selector has a height bigger than the screen size the popover is triggering a lot of rerender and adding a lot of <style> tags to the head.

Here's a example to reproduce the problem.

Code: https://codesandbox.io/s/lingering-currying-9pdvd
Demo: https://9pdvd.csb.app/

![errortour](https://user-images.githubusercontent.com/461124/151385659-2c

[2022-01-27 20:20] #433 closed

[2022-01-27 20:31] elrumordelaluz commented on #433
Hi @eperedo, thanks for open the _Issue_.
Good catch! Should be fixed in `@reactour/tour@2.8.3`.
[Here](https://reactour.vercel.app/#big-target) is a working demo.

[2022-01-28 09:44] elrumordelaluz commented on #298
Due to inactivity and the fact that in `v2` all components are more customizable, I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 09:44] #298 closed

[2022-01-28 09:46] elrumordelaluz commented on #297
Closed and explined in #299

[2022-01-28 09:46] #297 closed

[2022-01-28 09:47] elrumordelaluz commented on #294
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 09:47] #294 closed

[2022-01-28 09:48] elrumordelaluz commented on #291
I am closing this _issue_ prioritizing all the changes in `v2` that solves this, but feel free to re-open or create a new one in any case.

[2022-01-28 09:48] #291 closed

[2022-01-28 09:49] elrumordelaluz commented on #279
Now is everything customizable using `v2`. Feel free to re-open or create a new one in any case.

[2022-01-28 09:49] #279 closed

[2022-01-28 09:50] elrumordelaluz commented on #278
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 09:50] #278 closed

[2022-01-28 09:51] elrumordelaluz commented on #264
Don't know if is still relevant this issue.
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 09:51] #264 closed

[2022-01-28 09:52] elrumordelaluz commented on #232
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 09:52] #232 closed

[2022-01-28 09:53] elrumordelaluz commented on #221
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.
If this issue is still relevant, consider upgrade into `v2` and please share a sandbox with a reduced reproduction.

[2022-01-28 09:53] #221 closed

[2022-01-28 09:53] elrumordelaluz commented on #217
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 09:53] #217 closed

[2022-01-28 09:56] elrumordelaluz commented on #201
This is doable in `v2` through [onClickMask](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#onclickmask-clickprops-clickprops--void). [Here](https://reactour.vercel.app/#mask-click) is an example.
Closing but feel free to re-open or create a new one in any case.

[2022-01-28 09:56] #201 closed

[2022-01-28 09:57] elrumordelaluz commented on #214
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 09:57] #214 closed

[2022-01-28 09:58] elrumordelaluz commented on #205
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.
If still relevant, please consider create a minimal reproduction in a sandbox, thanks!

[2022-01-28 09:58] #205 closed

[2022-01-28 09:58] elrumordelaluz commented on #212
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 09:58] #212 closed

[2022-01-28 09:58] elrumordelaluz commented on #169
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 09:58] #169 closed

[2022-01-28 09:59] elrumordelaluz commented on #187
Solve in `v2`. I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 09:59] #187 closed

[2022-01-28 10:02] elrumordelaluz commented on #170
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 10:02] #170 closed

[2022-01-28 10:03] elrumordelaluz commented on #193
Mind testing with `v2` where all components and styles are pretty customizable.
I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 10:03] #193 closed

[2022-01-28 10:04] elrumordelaluz commented on #245
Closing to focus on #328

[2022-01-28 10:04] #245 closed

[2022-01-28 10:04] elrumordelaluz commented on #290
Due to inactivity I am closing this _issue_, but feel free to re-open or create a new one in any case.

[2022-01-28 10:04] #290 closed

[2022-01-28 12:12] PeterKottas commented on #264
Sure thing, the instructions here are enough for anybody who struggles with it. I doubt this is an issue in v2 therefore no need for other work. Happy cleaning 🧹

[2022-01-28 13:52] namanappbroda011 opened #434 "When the page is switched then the react tour doesn't start from beginning for the particular page so is there any way to achieve this?"

[2022-01-28 15:18] elrumordelaluz commented on #434
Hi @namanappbroda011, thanks for open the _Issue_.
Mind creating a reduced reproduction in a sandbox? thanks!

[2022-01-29 04:28] namanappbroda011 commented on #434
I don't understand why withRouter is giving error on codesandbox. Please have a look!
https://codesandbox.io/s/staging-fast-prcdu?file=/src/index.js

![image](https://user-images.githubusercontent.com/94125204/151647143-c366fad8-4ce9-4d81-a13a-20e03e94b720.png)

[2022-01-29 09:32] elrumordelaluz commented on #434
[Seems that `withRouter` doesn't exists in `v6`](https://reactrouter.com/docs/en/v6/faq#what-happened-to-withrouter-i-need-it). Try also using `@reactour/tour` for modern solutions.

[2022-02-07 03:53] dickyindra opened #437 "Position Popover when screen size height is small"
I have long text content, when the web is opened with a small screen height, always position the popover to the center, even though the page can still be scrolled down.

This is how it looks when the screen size height is small.
![Screen Shot 2022-02-07 at 10 47 52](https://user-images.githubusercontent.com/13186704/152721529-47a55d5b-2b8c-44d5-a085-7ce803e7b8c4.png)

I want the page to scroll dow

[2022-02-08 13:04] elrumordelaluz commented on #437
Hi @dickyindra, thanks for open the _Issue_.

The _Tour_ is responsible only of scrolling into view elements (steps) that are outside the viewport when needed. However you can handle cases controlling the scroll before open the tour. Something like:

[code]

[2022-02-08 14:00] kevinRoomies opened #438 "Update steps?"
On the v1 of reactour you could pass a prop to update to force a render. Such update prop does not exist anymore and I cannot see a replacement, and my steps do not seem to update when my prop is being updated. Is it still possible

[2022-02-08 14:10] elrumordelaluz commented on #438
Hi @kevinRoomies, thanks for open the _Issue_.

I think is possible and probably easier, since you now can control stuff through [useTour](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#usetour) hook.

Mind creating a reduced reproduction in a sandbox, in order to play around and find the best solution?

Thanks,

[2022-02-08 14:17] yanickrochon commented on #438
@kevinRoomies in v2, the provider should be seen as a foundation, a container, not a controller. In order to change the state of the provider, do not modify the provider directly, but use the `useTour` hook, as @elrumordelaluz suggested.

If you read the docs, an example is already provided, [here](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#usetour).

[2022-02-08 14:33] kevinRoomies opened #439 "Doing multiple tour"
I'd like to do multiple tour, one on the first connection and one on a specific page when first accessed (because you might not be able to access it on the first connection).

However if I create a 2nd tour provider it will inevitably be a children of the first one, is there a way to differenciate them when using useTour?

Or would I need to do something like keeping only 1 provider and putting th

[2022-02-08 15:30] elrumordelaluz commented on #439
Why not use one _Provider_ and update `steps` based on _route_?

Something like [this](https://codesandbox.io/s/reactour-tour-demo-using-react-router-dom-kujql?file=/components/Main.js) maybe.

[2022-02-08 16:09] #439 closed

[2022-02-08 17:48] dickyindra commented on #437
Great, thanks for the information!
But can I use it for the next step?

I'm also having this kind of problem:
<img width="496" alt="Screen Shot 2022-02-09 at 00 46 46" src="https://user-images.githubusercontent.com/13186704/153045591-37f9be23-8e7a-4171-9979-321852875359.png">

Code: https://codesandbox.io/s/tender-kowalevski-7p6mn
Demo: https://7p6mn.csb.app/

[2022-02-08 19:34] elrumordelaluz commented on #437
You could do something like [this](https://codesandbox.io/s/fragrant-thunder-qdqln?file=/src/index.js) using [nextButton](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#nextbutton-props-btnfnprops--void) prop.

[2022-02-09 15:36] dickyindra commented on #437
Thanks a lot!

[2022-02-09 15:36] #437 closed

[2022-02-10 16:48] Mihai-github opened #440 "setCurrentStep to go back 1 or more steps"
Hi,

   I have a 5 step tour and I wanna let the user go back 1 step by pressing a "prev" button. For going to the next step I'm using the setCurrentStep and at first, I thought I could use it also for going to the previous step but seems to not be the case.
   Maybe someone knows how I can achieve this?

[2022-02-10 17:06] yanickrochon commented on #440
By default, `setCurrentStep` is a standard [`useState`](https://reactjs.org/docs/hooks-reference.html#usestate) tuple, meaning that you can do

[code]

[2022-02-10 17:08] Mihai-github commented on #440
Yes, I realized that after I made the post

[2022-02-10 17:08] Mihai-github commented on #440
Any idea if I can remove the close of the tour on clicking outside the tour?

[2022-02-10 17:20] elrumordelaluz commented on #440
https://github.com/elrumordelaluz/reactour/issues/410#issuecomment-990978132

[2022-02-10 17:21] Mihai-github commented on #440
@elrumordelaluz It worked, thank you very much :)

[2022-02-10 19:58] #440 closed, assigned to nobody

[2022-02-11 16:02] MDmubarak786 opened #443 "I couldn't make disable the interaction while overlay come"
i tried but still not working anyone help me thanks in advance

[2022-02-11 16:03] elrumordelaluz commented on #443
please continue the conversation [here](https://github.com/elrumordelaluz/reactour/discussions/442)

[2022-02-11 16:03] #443 closed

[2022-02-11 16:10] MDmubarak786 opened #444 "disableInteraction not working React Native"
`import { disableBodyScroll, enableBodyScroll } from 'body-scroll-lock'
import { Placeholder, doSteps } from '../utils'
const demoId = 'scroll-lock'
const steps = doSteps(demoId)
const disableBody = target => disableBodyScroll(target)
const enableBody = target => enableBodyScroll(target)

;<TourProvider steps={steps} afterOpen={disableBody} beforeClose={enableBody}>
  <Placeholder demoId={demoId}

[2022-02-11 17:31] elrumordelaluz commented on #444
please follow the discussione [here](https://github.com/elrumordelaluz/reactour/discussions/442)

[2022-02-11 17:31] #444 closed

[2022-02-16 03:36] mingzizhennimafan opened #445 "An error occurred while upgrading @react-aria/utils"
Reproduce Step:
Upgrad "@react-aria/utils": "3.11.1"
Got error:
Module parse failed: Unexpected token

I did nothing and found this error this morning when packaging using github actions. What should I do now?

[2022-02-16 13:29] efattal commented on #445
Having the same error here.

[2022-02-16 17:50] chireia commented on #445
I'm having a issue starting the application after running:

`yarn add @reactour/tour @emotion/react`

I think this should be something related:
[code]

I also found this [issue](https://github.com/adobe/react-spectrum/issues/2857) on `react-spectrum`(aka @react-aria) repo

Is there any workaround for that?

[2022-02-16 18:34] maks-hayduk opened #446 "Safari mask issue (round corners)"
## Tutorial I was looking when developing [link](https://reactour.vercel.app)

Seems like rx property is not working correctly when using Safari

This one in **safari**
<img width="290" alt="Знімок екрана 2022-02-16 о 20 30 19" src="https://user-images.githubusercontent.com/44266854/154332042-43d8b5e5-e133-4cfe-9d3c-af3640c0697b.png">

This one in **chrome**
<img width="274" alt="Знімок екрана 202

[2022-02-16 19:56] McFoggy commented on #445
as [I mentionned](https://github.com/adobe/react-spectrum/issues/2857#issuecomment-1041872035) on the issue you have pointed, migrating to webpack 5 did the trick for us.

we followed [webpack 5 migrating guide](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#webpack-5)

[2022-02-19 11:39] maks-hayduk commented on #446
#448

[2022-02-19 20:19] elrumordelaluz commented on #446
Should be available on `@reactour/tour@2.9.1`. Thank you @maks-hayduk for the fix!

[2022-02-19 20:19] #446 closed

[2022-02-21 18:23] maks-hayduk opened #450 "Paddings in maskRect overlay or in overall svg"
Is it possible to add paddings in tour so it will have empty space as on picture (red lines, f.x. 20px)
<img width="856" alt="Знімок екрана 2022-02-21 о 20 20 28" src="https://user-images.githubusercontent.com/44266854/155009033-e9b69414-01e7-44ea-a51b-28165c8c7af7.png">

@elrumordelaluz could you please help me with this one?

[2022-02-23 10:16] #450 closed

[2022-02-23 10:25] elrumordelaluz commented on #450
Thanks for the input @maks-hayduk.
Now `@reactour/mask@0.5.0` has the [wrapperPadding](https://github.com/elrumordelaluz/reactour/tree/master/packages/mask#wrapperpadding-number--number-number) prop to control this. It is also available on `@reactour/tour@2.10.0` through [padding](https://github.com/elrumordelaluz/reactour/tree/master/packages/tour#padding-padding-1) prop like:

[code]

[Here is a

[2022-02-23 14:37] Adrian12317 opened #453 "Use goTo in actions"
Hi I'm trying to switch to the next step with the action prop but i can't, because the prop goTo is only in the content.

Is there any way to use goTo inside the action prop?

![image](https://user-images.githubusercontent.com/48723226/155340751-b642b6d2-efaf-4020-8c5f-bf73b9f05fbf.png)

[2022-02-28 06:25] caotrongtin99 commented on #98
Hi @elrumordelaluz ,
Do we have any solution for arrow to focused element in v1? Thank you.

[2022-02-28 09:21] elrumordelaluz commented on #98
hi @caotrongtin99,
`v1` lacks of the information necessary to make the calculations; also the `style` prop is missing.

[2022-03-04 08:22] #445 closed

[2022-03-08 02:22] deepaksmarterdharma opened #454 "Viewport is not highlight properly when the element is below the viewport"
The button to trigger the tour is in my sidebar but the highlighted element is on the very last of the page which we have to scroll down to. So when i click on the show tour button it scroll down to that element but does not highlight it and the background is blurred.

[2022-03-08 02:26] deepaksmarterdharma commented on #454
`  <Tour
          {...tourProps}
          lastStepNextButton={
            <Button style={{ color: '#29E1AC', marginLeft: '150%', marginTop: '-60px', backgroundColor: '#FFFFFF', fontSize: '12px' }} onClick={handleEnd}>
              End
            </Button>
          }
          disableKeyboardNavigation={['esc']}
          showNavigation={false}
          showNumber={false}
          startAt={

[2022-03-08 02:26] deepaksmarterdharma commented on #454
`  <Tour
          {...tourProps}
          lastStepNextButton={
            <Button style={{ color: '#29E1AC', marginLeft: '150%', marginTop: '-60px', backgroundColor: '#FFFFFF', fontSize: '12px' }} onClick={handleEnd}>
              End
            </Button>
          }
          disableKeyboardNavigation={['esc']}
          showNavigation={false}
          showNumber={false}
          startAt={

[2022-03-08 11:51] elrumordelaluz commented on #453
Hi @Adrian12317, I suggest you to try to migrate into `v2`, using `@reactour/tour` package with lots of improvements, included the user case you are looking for.

[2022-03-08 11:53] elrumordelaluz commented on #454
Hi @deepaksmarterdharma, thanks for open the _Issue_.

Mind creating a sandbox reproducing the issue. However I suggest you to migrate into `v2` using `@reactour/tour` and its new api, which handles better those kind of situations.

[2022-03-08 12:52] deepaksmarterdharma commented on #454
Thanks for the reply, Okay let me try the reactour/tour. If that does not solve the issue i will reopen this conversation.

[2022-03-08 13:41] elrumordelaluz commented on #454
cool, thank you!

So I closing for now but feel free to re-open or create a new _Issue_.